<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title></title>
	<link rel="stylesheet" href="../../static/renponsetable/layer/theme/default/layer.css">
	<link rel="stylesheet" type="text/css" href="../../static/renponsetable/css/reponse.css">
	<style type="text/css">
		.alertceng{
			background: #FFFFFF;
			padding: 10px;
			display: none;
		}
		.alertceng span.title{
			margin-right: 10px;
		}
	</style>
	<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
	<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="../../static/renponsetable/js/jquery.basictable.min.js"></script>
	<script type="text/javascript" src="../../static/renponsetable/reponsetable.min.js"></script>
	<script type="text/javascript" src="../../static/renponsetable/layer/layer.js"></script>
</head>
<body>
	<div class="layui-fluid layadmin-homepage-fluid" style="background: #fff;width:90%;margin:0 auto;">
		<div id="page">
			<div class="btn-container">
				<button class="layui-btn" onclick="addtr();">新增一行</button>
				<button class="layui-btn" onclick="ExportExcel();">导出Excel</button>
				<button class="layui-btn" onclick="getSample();">搜索</button>
				<!--<button class="layui-btn" onclick="resivetabledata();">获取table数据</button>
				<button class="layui-btn" onclick="reloadtable();">刷新table表格</button>
				<button class="layui-btn" onclick="coldata();">获取某一列的数据</button>-->
			</div>
			<form id="drugForm">
				<ul >
					<li>
						<lable>流水号:</lable><input type="text" name="serialNumber"/>
						<lable>通用名:</lable><input type="text" name="commonName"/>
						<lable>剂型:</lable><input type="text" name="dosageForm"/>
						<lable>规格:</lable><input type="text" name="speciflcation"/>
					</li>
					<li>
						<lable>单位:</lable><input type="text" name="company"/>
						<lable>转换系数:</lable><input type="text" name="coefficient"/>
						<lable>生产企业:</lable><input type="text" name="productionName"/>
						<lable>商品名称:</lable><input type="text" name="commodityName"/>
					</li>
					<li>
						<lable>中标价格:</lable><input type="text" name="biddingPriceStart"/>--<input type="text" name="biddingPriceEnd"/>
						<lable>质量层次:</lable>
						<select name="qualityLevel" id="qualityLevel">
							<option value="">请选择</option>
						</select>
						<lable>药品类别:</lable>
						<select name="drugCategorys" id="drugCategorys">
							<option value="">请选择</option>
						</select>
						<lable>药品交易状态:</lable>
						<select name="drugState" id="drugState">
							<option value="">请选择</option>
						</select>
					</li>
				</ul>
			</form>
			<table id="table" class="reponsetable" ></table>
			<script type="text/html" id="editer">
				<a class="layui-btn layui-btn-xs" onclick="edittr(this)">编辑</a>
				<a class="layui-btn layui-btn-xs" onclick="deletetr(this)">删除</a>
				<!--<a class="layui-btn layui-btn-xs" onclick="uptr(this)">上移</a>
				<a class="layui-btn layui-btn-xs" onclick="downtr(this)">下移</a>-->
		  </script>
		</div>
	</div>
	<div id="editcontent" class="alertceng">
            流 水 号:<input type="text" name="serialNumber"/>
			通 用 名:<input type="text" name="commonName"/><br/>
			剂    型:<input type="text" name="dosageForm"/>
			规    格:<input type="text" name="speciflcation"/><br/>
			单    位:<input type="text" name="company"/>
			转换系数:<input type="text" name="coefficient"/><br/>
            生产企业:<input type="text" name="productionName"/>
            商品名称:<input type="text" name="commodityName"/><br/>
            中标价格:<input type="text" name="biddingPrice"/>
		批准文号:<input type="text" name="approvalNumber"/><br/>
		批准文号有效期:<input type="date" name="approvalTime"/>
		是否进口药:<input type="radio" name="isEntrance" value="0"/>是
				  <input type="radio" name="isEntrance" value="2"/>否<br/>
		包装材质:<input type="text" name="packagingTexture"/>
		包装单位:<input type="text" name="packUnit"/><br/>
		最新零售价:<input type="text" name="newestPrice"/><br/>
		零售价出处:<input type="text" name="retailProvenance"/><br/>
            质量层次:<select name="qualityLevel">
                        <option value="">请选择</option>
                    </select>
		质量层次说明:<input type="text" name="qualityLevelExplain"/><br/>
		有无药品检验报告:<input type="radio" name="isCheckout" value="0"/>有
						<input type="radio" name="isCheckout" value="1"/>无<br/>
		药品检验报告编码:<input type="text" name="heckoutNumber"/><br/>
		药品检验报告有效期:<input type="date" name="drugValidTime"/><br/>
		产品说明:<input type="text" name="productExplain"/><br/>
            药品类别:<select name="">
						<option value="drugCategory">请选择</option>
					</select>
            药品交易状态:<select name="drugState">
							<option value="">请选择</option>
						</select>
	</div>
</body>
<script type="text/javascript">
	$(function(){
		$('#table').basictable({
			breakpoint: 768
		});
		dataForm();
		findQualityLevel();
		findDrugCategorys();
	})
	//查询全部药品信息
	function dataForm(){
		var ser = $("#drugForm").serialize();
		$.ajax({
			url:"/drugInformation/findAllDrugInfoLike",
			type:"get",
			dataType:"json",
			data:ser,
			success:function (data) {
				$.each(data,function (index,item) {
					data[index].biddingPrice=data[index].biddingPrice.biddingPrice;
					data[index].company=data[index].company.dictionariesName;
					data[index].qualityLevel=data[index].qualityLevel.dictionariesName;
					data[index].drugCategorys=data[index].drugCategorys.dictionariesName;
					if(data[index].drugState==1){
						data[index].drugState = "正常";
					}else {
						data[index].drugState = "交易暂停";
					}
				})
				$("#table").empty();//模糊查询清楚之前表格数据
				$("#table").reponsetable({
					"id":"table",
					"operation": "editer",
					"type":"numbers",
					"colum": [
						{"field": "serialNumber","title": "药品流水号"},
						{"field": "commonName","title": "通用名"},
						{"field": "dosageForm","title": "剂型"},
						{"field": "speciflcation","title": "规格"},
						{"field": "company","title": "单位"},
						{"field": "coefficient","title": "转换系数"},
						{"field": "productionName","title": "生产企业"},
						{"field": "commodityName","title": "商品名称"},
						{"field": "biddingPrice","title": "中标价"},
						{"field": "qualityLevel","title": "质量层次"},
						{"field": "drugCategorys","title": "药品类别"},
						{"field": "drugState","title": "交易状态"}
					],
					"data": data
				});
			},error:function (data) {

			}
		})
	}
	//模糊查询
	function getSample() {
		if (confirm("确定要搜索吗？")){
			dataForm();
		}
	}
	//查询质量层次
	function findQualityLevel() {
		var dictionariesId = 11;
		$.ajax({
			url:"/drugInformation/findQualityLevel",
			type:"get",
			dataType:"json",
			data:dictionariesId,
			success:function (data) {
				//console.log(data);
				var str = "<option value=''>请选择</option>";
				for (var i = 0; i <data.length ; i++) {
					str += '<option value="'+ data[i].dicId +'">'+  data[i].dictionariesName  +'</option>'
				}
				$("#qualityLevel").html(str);
			},error:function (data) {

			}
		})
	}
	//查询药品类别
	function findDrugCategorys() {
		$.ajax({
			url:"/drugInformation/findDrugCategorys",
			type:"get",
			dataType:"json",
			success:function (data) {
				//console.log(data);
				var str = "<option value=''>请选择</option>";
				for (var i = 0; i <data.length ; i++) {
					str += '<option value="'+ data[i].dicId +'">'+  data[i].dictionariesName  +'</option>'
				}
				$("#drugCategorys").html(str);
			},error:function (data) {

			}
		})
	}
	//新增药品信息
	function addtr() {
		layer.open({
		  type: 1,
		  title: '编辑人员信息',
		  closeBtn: 1,
		  area: '516px',
		  skin: '#fff', //没有背景色
		  shadeClose: true,
		  content: $('#editcontent'),
		  btn:["保存","关闭"],
		  btn1:function(index,layero){

			  var serialNumber=$("input[name='serialNumber']").val();
			  var commonName=$("input[name='commonName']").val();
			  var dosageForm=$("input[name='dosageForm']").val();
			  var speciflcation=$("input[name='speciflcation']").val();
			  /*var company=$("#company").val();
			  var coefficient=$("#coefficient").val();
			  var productionName=$("#productionName").val();
			  var commodityName=$("#commodityName").val();
			  var biddingPrice=$("#biddingPrice").val();
			  var approvalNumber=$("#approvalNumber").val();
			  var approvalTime=$("#approvalTime").val();
			  var isEntrance=$("#isEntrance").val();
			  var packagingTexture=$("#packagingTexture").val();
			  var packUnit=$("#packUnit").val();
			  var newestPrice=$("#newestPrice").val();
			  var retailProvenance=$("#retailProvenance").val();
			  var qualityLevelExplain=$("#qualityLevelExplain").val();
			  var isCheckout=$("#isCheckout").val();
			  var heckoutNumber=$("#heckoutNumber").val();
			  var drugValidTime=$("#drugValidTime").val();
			  var drugCategory=$("#drugCategory").val();
			  var drugState=$("#drugState").val();*/
			  var obj = {
				"serialNumber":serialNumber,
			  	"commonName": commonName,
			  	"dosageForm": dosageForm,
			  	"speciflcation": speciflcation
			  };
			  reponse.addtr(obj, "table");
			  //reponse.editsavetr(obj, "table");

			  $.ajax({
				  url:"/drugInformation/addDrugInformation",
				  type:"post",
				  datatype:"json",
				  data:obj,
				  success:function (data) {
					console.log(data);
				  },error:function (data) {

				  }
			  })
			  layer.close(index);
		  },btn2:function(index,layero){
			  layer.close(index);
		  }
		});
	};
	/*function uptr(btn, e) {
		var tr = $(btn).parent().parent();
		reponse.moveuptr(tr, "table");
	}*/
	/*function downtr(btn, e) {
		var tr = $(btn).parent().parent();
		reponse.moveDown(tr, "table");
	}*/
	function ExportExcel() {
		var tableobj=$("#table").data("tableObj");
		reponse.JSONToCSVConvertor(tableobj, true,"人员表格");
	}
	/*function resivetabledata(){
		var pp=$("#table").data("tableObj").data;
		alert(JSON.stringify(pp));
	}*/
	/*function reloadtable(){
		var data=[
			{"Name": "1111","Age": 15,"Gender": "1","Height": 189,"Province": "1","Sport": "1"},
			{"Name": "2222","Age": 15,"Gender": "2","Height": 2,"Province": "2","Sport": "2"},
			{"Name": "3333","Age": 15,"Gender": "4","Height": 189,"Province": "3","Sport": "3"}
		]
		reponse.reloadtable(data,"table");
	}*/
	function edittr(a, e) {
		var tr = $(a).parent().parent();
		reponse.resiverowdata(tr, "table");
		var rowdata=$("#table").data("rowdata");
		//alert(JSON.stringify(rowdata));
		//页面层-佟丽娅
		
		layer.open({
		  type: 1,
		  title: '编辑人员信息',
		  closeBtn: 1,
		  area: '516px',
		  skin: '#fff', //没有背景色
		  shadeClose: true,
		  content: $('#editcontent'),
		  btn:["保存","关闭"],
		  btn1:function(index,layero){
			  var Name=$("#Name").val();
			  var Age=$("#Age").val();
			  var Gender=$("#Gender").val();
			  var Height=$("#Height").val();
			  var Province=$("#Province").val();
			  var Sport=$("#Sport").val();
			  var obj = {
				"Name":Name,
			  	"Age": Age,
			  	"Gender": Gender,
			  	"Height": Height,
			  	"Province": Province,
				"Sport":Sport
			  };
			  reponse.editsavetr(obj, "table");
			  layer.close(drugInformation);
		  },btn2:function(index,layero){
			  layer.close(drugInformation);
		  }
		});
	}
	function deletetr(a, e) {
		var tr = $(a).parent().parent();
		reponse.deletetr(tr, e);
	}
	/*function coldata(){
		var pp=reponse.Columndata("Name","table");
		alert(pp);
	}*/
</script>
</html>