<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title></title>
	<link rel="stylesheet" href="../../static/renponsetable/layer/theme/default/layer.css">
	<link rel="stylesheet" type="text/css" href="../../static/renponsetable/css/reponse.css">
	<style type="text/css">
		.alertceng{
			background: #FFFFFF;
			padding: 10px;
			display: none;
		}
		.alertceng span.title{
			margin-right: 10px;
		}
	</style>
	<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
	<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="../../static/renponsetable/js/jquery.basictable.min.js"></script>
	<script type="text/javascript" src="../../static/renponsetable/reponsetable.min.js"></script>
	<script type="text/javascript" src="../../static/renponsetable/layer/layer.js"></script>
</head>
<body>
	<div class="layui-fluid layadmin-homepage-fluid" style="background: #fff;width:99%;margin:0 auto;">
		<div id="page">
			<div class="btn-container">
				<button class="layui-btn" onclick="addtr();">添加</button>
				<button class="layui-btn" onclick="ExportExcel();">导出Excel</button>
				<button class="layui-btn" onclick="getSample();">搜索</button>
				<!--<button class="layui-btn" onclick="resivetabledata();">获取table数据</button>-->
				<!--<button class="layui-btn" onclick="reloadtable();">刷新table表格</button>
				<button class="layui-btn" onclick="coldata();">获取某一列的数据</button>-->
			</div>
			<!--模糊查询form表单-->
			<form id="drugForm">
				<span>
					<lable>流水号:<input type="text" name="serialNumber"/></lable>
					<lable>通用名:<input type="text" name="commonName"/></lable>
					<lable>剂  型:<input type="text" name="dosageForm"/></lable>
					<lable>规  格:<input type="text" name="speciflcation"/></lable>
				</span><br/>
				<span>
					<lable>单位:<input type="text" name="company"/></lable>
					<lable>转换系数:<input type="text" name="coefficient"/></lable>
					<lable>生产企业:<input type="text" name="productionName"/></lable>
					<lable>商品名称:<input type="text" name="commodityName"/></lable>
				</span><br/>
				<span>
					<lable>中标价格:<input type="text" name="biddingPriceStart" style="width: 60px"/>--<input type="text" name="biddingPriceEnd" style="width: 60px"/></lable>
						<lable>质量层次:
							<select name="qualityLevel" id="qualityLevel">
								<option value="">请选择</option>
							</select>
						</lable>
						<lable>药品类别:
							<select name="drugCategory" id="drugCategory">
								<option value="">请选择</option>
							</select>
						</lable>
						<lable>药品交易状态:
							<select name="drugState" id="drugState">
								<option value="">请选择</option>
								<option value="0">正常</option>
								<option value="1">交易暂停</option>
							</select>
						</lable>
				</span>
			</form>
			<table id="table" class="reponsetable" ></table>
			<script type="text/html" id="editer">
				<a class="layui-btn layui-btn-xs" onclick="edittr(this)">编辑</a>
				<a class="layui-btn layui-btn-xs" onclick="deletetr(this)">删除</a>
				<!--<a class="layui-btn layui-btn-xs" onclick="uptr(this)">上移</a>
				<a class="layui-btn layui-btn-xs" onclick="downtr(this)">下移</a>-->
		  </script>
		</div>
	</div>
	<!--新增的弹框-->
	<div id="editcontent" class="alertceng">
            流 水 号:<input type="text" name="serialNumber" id="serialNumber"/>
			通 用 名:<input type="text" name="commonName" id="commonName"/><br/>
			剂    型:<input type="text" name="dosageForm" id="dosageForm"/>
			规    格:<input type="text" name="speciflcation" id="speciflcation"/><br/>
			单    位:<input type="text" name="company" id="company"/>
			转换系数:<input type="text" name="coefficient" id="coefficient"/><br/>
            生产企业:<input type="text" name="productionName" id="productionName"/>
            商品名称:<input type="text" name="commodityName" id="commodityName"/><br/>
            中标价格:<input type="text" name="biddingPrice" id="biddingPrice"/>
		批准文号:<input type="text" name="approvalNumber" id="approvalNumber"/><br/>
		批准文号有效期:<input type="date" name="approvalTime" id="approvalTime"/>
		是否进口药:<input type="radio" name="isEntrance" value="0"/>是
				  <input type="radio" name="isEntrance" value="1"/>否<br/>
		包装材质:<input type="text" name="packagingTexture" id="packagingTexture"/>
		包装单位:<input type="text" name="packUnit" id="packUnit"/><br/>
		最新零售价:<input type="text" name="newestPrice" id="newestPrice"/><br/>
		零售价出处:<input type="text" name="retailProvenance" id="retailProvenance"/><br/>
            质量层次:<select name="qualityLevels" id="qualityLevels">
                        <option value="">请选择</option>
                    </select>
		质量层次说明:<input type="text" name="qualityLevelExplain" id="qualityLevelExplain"/><br/>
		有无药品检验报告:<input type="radio" name="isCheckout" value="0"/>有
						<input type="radio" name="isCheckout" value="1"/>无<br/>
		药品检验报告编码:<input type="text" name="heckoutNumber" id="heckoutNumber"/><br/>
		药品检验报告有效期:<input type="date" name="drugValidTime" id="drugValidTime"/><br/>
		产品说明:<input type="text" name="productExplain" id="productExplain"/><br/>
            药品类别:<select name="drugCategorys" id="drugCategorys">
						<option value="">请选择</option>
					</select>
            药品交易状态:<select name="drugStates" id="drugStates">
							<option value="">请选择</option>
							<option value="0">正常</option>
							<option value="1">交易暂停</option>
						</select>
	</div>
	<!--修改的弹框-->
	<div id="editcontent1" class="alertceng">
				<input type="hidden" name="diId" id="diIds"/>
		流 水 号:<input type="text" name="serialNumber" id="serialNumbers"/>
		通 用 名:<input type="text" name="commonName" id="commonNames"/><br/>
		剂    型:<input type="text" name="dosageForm" id="dosageForms"/>
		规    格:<input type="text" name="speciflcation" id="speciflcations"/><br/>
		单    位:<input type="text" name="company" id="companys"/>
		转换系数:<input type="text" name="coefficient" id="coefficients"/><br/>
		生产企业:<input type="text" name="productionName" id="productionNames"/>
		商品名称:<input type="text" name="commodityName" id="commodityNames"/><br/>
		中标价格:<input type="text" name="biddingPrice" id="biddingPrices"/>
		批准文号:<input type="text" name="approvalNumber" id="approvalNumbers"/><br/>
		批准文号有效期:<input type="Date" name="approvalTime" id="approvalTimes"/>
		是否进口药:<input type="radio" name="isEntrances" value="0"/>是
				  <input type="radio" name="isEntrances" value="1"/>否<br/>
		包装材质:<input type="text" name="packagingTexture" id="packagingTextures"/>
		包装单位:<input type="text" name="packUnit" id="packUnits"/><br/>
		最新零售价:<input type="text" name="newestPrice" id="newestPrices"/><br/>
		零售价出处:<input type="text" name="retailProvenance" id="retailProvenances"/><br/>
		有无药品检验报告:<input type="radio" name="isCheckouts" value="0"/>有
						<input type="radio" name="isCheckouts" value="1"/>无<br/>
		药品检验报告编码:<input type="text" name="heckoutNumber" id="heckoutNumbers"/><br/>
		药品检验报告有效期:<input type="Date" name="drugValidTime" id="drugValidTimes"/><br/>
		产品说明:<input type="text" name="productExplain" id="productExplains"/><br/>
		药品交易状态:<select name="drugStatess" id="drugStatess">
						<option value="0">正常</option>
						<option value="1">交易暂停</option>
					</select>
	</div>
</body>
<script type="text/javascript">
	$(function(){
		$('#table').basictable({
			breakpoint: 1000
		});
		dataForm();
		findQualityLevel();
		findDrugCategory();
		findDrugCategorys();
		findQualityLevels();
	})
	//查询全部药品信息
	function dataForm(){
		var ser = $("#drugForm").serialize();
		$.ajax({
			url:"/drugInformation/findAllDrugInfoLike",
			type:"get",
			dataType:"json",
			data:ser,
			success:function (data) {
			    //console.log(data)
				$.each(data,function (index,item) {
					data[index].biddingPrice=data[index].biddingPrice.biddingPrice;
					data[index].company=data[index].company.dictionariesName;
					data[index].qualityLevel=data[index].qualityLevel.dictionariesName;
					data[index].drugCategorys=data[index].drugCategorys.dictionariesName;
                    data[index].approvalNumber=data[index].approvalNumber.approvalNumber;
                    data[index].approvalTime=data[index].approvalTime.approvalTime;
                    data[index].isEntrances=data[index].isEntrances.isEntrance;
                    data[index].packagingTexture=data[index].packagingTexture.packagingTexture;
					data[index].packUnit=data[index].packUnit.packUnit;
					data[index].newestPrice=data[index].newestPrice.newestPrice;
					data[index].retailProvenance=data[index].retailProvenance.retailProvenance;
					data[index].isCheckouts=data[index].isCheckouts.isCheckout;
					data[index].heckoutNumber=data[index].heckoutNumber.heckoutNumber;
					data[index].drugValidTime=data[index].drugValidTime.drugValidTime;
					data[index].productExplain=data[index].productExplain.productExplain;
					if(data[index].drugState==0){
						data[index].drugState = "正常";
					}else {
						data[index].drugState = "交易暂停";
					}
				})
				$("#table").empty();//模糊查询清楚之前表格数据
				$("#table").reponsetable({
					"id":"table",
					"operation": "editer",
					"type":"numbers",
					"colum": [
						{"field": "diId","title": "id"},
						{"field": "serialNumber","title": "药品流水号"},
						{"field": "commonName","title": "通用名"},
						{"field": "dosageForm","title": "剂型"},
						{"field": "speciflcation","title": "规格"},
						{"field": "company","title": "单位"},
						{"field": "coefficient","title": "转换系数"},
						{"field": "productionName","title": "生产企业"},
						{"field": "commodityName","title": "商品名称"},
						{"field": "biddingPrice","title": "中标价"},
						{"field": "qualityLevel","title": "质量层次"},
						{"field": "drugCategorys","title": "药品类别"},
						{"field": "drugState","title": "交易状态"},
                        {"field": "approvalNumber","title": "批准文号"},
                        {"field": "approvalTime","title": "批准文号有效期"},
                        {"field": "isEntrances","title": "是否进口"},
                        {"field": "packagingTexture","title": "包装材质"},
						{"field": "packUnit","title": "包装单位"},
						{"field": "newestPrice","title": "最新零售价"},
						{"field": "retailProvenance","title": "零售价出处"},
						{"field": "isCheckouts","title": "有无药品检验报告"},
						{"field": "heckoutNumber","title": "药品检验报告编码"},
						{"field": "drugValidTime","title": "药品检验报告有效期"},
						{"field": "productExplain","title": "产品说明"}
					],
					"data": data
				});
				//隐藏单元格
                $("[data-field='diId']").css('display','none');
                $("[data-field='approvalNumber']").css('display','none');
                $("[data-field='approvalTime']").css('display','none');
                $("[data-field='isEntrances']").css('display','none');
                $("[data-field='packagingTexture']").css('display','none');
				$("[data-field='packUnit']").css('display','none');
				$("[data-field='newestPrice']").css('display','none');
				$("[data-field='retailProvenance']").css('display','none');
				$("[data-field='isCheckouts']").css('display','none');
				$("[data-field='heckoutNumber']").css('display','none');
				$("[data-field='drugValidTime']").css('display','none');
				$("[data-field='productExplain']").css('display','none');
			},error:function (data) {

			}
		})
	}
	//模糊查询
	function getSample() {
		if (confirm("确定要搜索吗？")){
			dataForm();
		}
	}
	//查询质量层次
	function findQualityLevel() {
		var dictionariesId = 11;
		$.ajax({
			url:"/drugInformation/findQualityLevel",
			type:"get",
			dataType:"json",
			data:dictionariesId,
			success:function (data) {
				//console.log(data);
				var str = "<option value=''>请选择</option>";
				for (var i = 0; i <data.length ; i++) {
					str += '<option value="'+ data[i].dicId +'">'+  data[i].dictionariesName  +'</option>'
				}
				$("#qualityLevel").html(str);
			},error:function (data) {

			}
		})
	}
	//新增的时候查询质量层次
	function findQualityLevels() {
		var dictionariesId = 11;
		$.ajax({
			url:"/drugInformation/findQualityLevel",
			type:"get",
			dataType:"json",
			data:dictionariesId,
			success:function (data) {
				//console.log(data);
				var str = "<option value=''>请选择</option>";
				for (var i = 0; i <data.length ; i++) {
					str += '<option value="'+ data[i].dicId +'">'+  data[i].dictionariesName  +'</option>'
				}
				$("#qualityLevels").html(str);
			},error:function (data) {

			}
		})
	}
	//查询药品类别
	function findDrugCategory() {
		$.ajax({
			url:"/drugInformation/findDrugCategorys",
			type:"get",
			dataType:"json",
			success:function (data) {
				//console.log(data);
				var str = "<option value=''>请选择</option>";
				for (var i = 0; i <data.length ; i++) {
					str += '<option value="'+ data[i].dicId +'">'+  data[i].dictionariesName  +'</option>'
				}
				$("#drugCategory").html(str);
			},error:function (data) {

			}
		})
	}
	//新增的时候查询药品类别
	function findDrugCategorys() {
		$.ajax({
			url:"/drugInformation/findDrugCategorys",
			type:"get",
			dataType:"json",
			success:function (data) {
				//console.log(data);
				var str = "<option value=''>请选择</option>";
				for (var i = 0; i <data.length ; i++) {
					str += '<option value="'+ data[i].dicId +'">'+  data[i].dictionariesName  +'</option>'
				}
				$("#drugCategorys").html(str);
			},error:function (data) {

			}
		})
	}
	//新增药品信息
	function addtr() {
		layer.open({
		  type: 1,
		  title: '添加药品信息',
		  closeBtn: 1,
		  area: '516px',
		  skin: '#fff', //没有背景色
		  shadeClose: true,
		  content: $('#editcontent'),
		  btn:["保存","关闭"],
		  btn1:function(index,layero){
			  var serialNumber=$("#serialNumber").val();
			  var commonName=$("#commonName").val();
			  var dosageForm=$("#dosageForm").val();
			  var speciflcation=$("#speciflcation").val();
			  var company=$("#company").val();
			  if (company == "盒"){company = 6}
			  if (company == "箱"){company = 7}
			  if (company == "瓶"){company = 8}
			  if (company == "支"){company = 9}
			  if (company == "只"){company = 10}
			  var coefficient=$("#coefficient").val();
			  var productionName=$("#productionName").val();
			  var commodityName=$("#commodityName").val();
			  var biddingPrice=$("#biddingPrice").val();
			  var approvalNumber=$("#approvalNumber").val();
			  var approvalTime=$("#approvalTime").val();
			  var isEntrance=$("input[name='isEntrance']:checked").val();
			  var packagingTexture=$("#packagingTexture").val();
			  var packUnit=$("#packUnit").val();
			  var newestPrice=$("#newestPrice").val();
			  var retailProvenance=$("#retailProvenance").val();
			  var qualityLevels=$("#qualityLevels").val();
			  var qualityLevelExplain=$("#qualityLevelExplain").val();
			  var isCheckout=$("input[name='isCheckout']:checked").val();
			  var heckoutNumber=$("#heckoutNumber").val();
			  var drugValidTime=$("#drugValidTime").val();
			  var productExplain=$("#productExplain").val();
			  var drugCategory=$("#drugCategorys").val();
			  var drugState=$("#drugStates").val();
			  var obj = {
				  "serialNumber":serialNumber,
				  "commonName": commonName,
				  "dosageForm": dosageForm,
				  "speciflcation": speciflcation,
				  "unitId":company,
				  "coefficient":coefficient,
				  "productionName":productionName,
				  "commodityName":commodityName,
				  "biddingPrice":biddingPrice,
				  "approvalNumber":approvalNumber,
				  "approvalTime":approvalTime,
				  "isEntrance":isEntrance,
				  "packagingTexture":packagingTexture,
				  "packUnit":packUnit,
				  "newestPrice":newestPrice,
				  "retailProvenance":retailProvenance,
				  "qualityLevel":qualityLevels,
				  "qualityLevelExplain":qualityLevelExplain,
				  "isCheckout":isCheckout,
				  "heckoutNumber":heckoutNumber,
				  "drugValidTime":drugValidTime,
				  "productExplain":productExplain,
				  "drugCategory":drugCategory,
				  "drugState":drugState
			  };
			  reponse.addtr(obj, "table");
			  //console.log(obj);
			  $.ajax({
				  url:"/drugInformation/addDrugInformation",
				  type:"post",
				  datatype:"json",
				  data:obj,
				  success:function (data) {
					alert("添加成功");
					window.location.reload();
				  },error:function (data) {

				  }
			  })
			  //reponse.editsavetr(obj, "table");
			  layer.close(index);
		  },btn2:function(index,layero){
			  layer.close(index);
		  }
		});
	};
	//修改药品信息
	function edittr(a, e) {
		var tr = $(a).parent().parent();
		reponse.resiverowdata(tr, "table");
		var rowdata=$("#table").data("rowdata");
		//alert(JSON.stringify(rowdata));
		$("#diIds").val(rowdata.diId);
		$("#serialNumbers").val(rowdata.serialNumber);
		$("#commonNames").val(rowdata.commonName);
		$("#dosageForms").val(rowdata.dosageForm);
		$("#speciflcations").val(rowdata.speciflcation);
		$("#companys").val(rowdata.company);
		$("#coefficients").val(rowdata.coefficient);
		$("#productionNames").val(rowdata.productionName);
		$("#commodityNames").val(rowdata.commodityName);
		$("#biddingPrices").val(rowdata.biddingPrice);
		$("#approvalNumbers").val(rowdata.approvalNumber);
		$("#approvalTimes").val(rowdata.approvalTime);
		$("input[name='isEntrances'][value='"+rowdata.isEntrances+"']").prop("checked","checked");
		$("#packagingTextures").val(rowdata.packagingTexture);
		$("#packUnits").val(rowdata.packUnit);
		$("#newestPrices").val(rowdata.newestPrice);
		$("#retailProvenances").val(rowdata.retailProvenance);
		$("input[name='isCheckouts'][value='"+rowdata.isCheckouts+"']").prop("checked","checked");
		$("#heckoutNumbers").val(rowdata.heckoutNumber);
		$("#drugValidTimes").val(rowdata.drugValidTime);
		$("#productExplains").val(rowdata.productExplain);
		if (rowdata.drugState == "正常"){
			rowdata.drugState = 0
		}else {
			rowdata.drugState = 1
		}
		$("#drugStatess").val(rowdata.drugState);
		//页面层-佟丽娅
		layer.open({
			type: 1,
			title: '编辑药品信息',
			closeBtn: 1,
			area: '516px',
			skin: '#fff', //没有背景色
			shadeClose: true,
			content: $('#editcontent1'),
			btn:["保存","关闭"],
			btn1:function(index,layero){
				var diId=$("#diIds").val();
				var serialNumber=$("#serialNumbers").val();
				var commonName=$("#commonNames").val();
				var dosageForm=$("#dosageForms").val();
				var speciflcation=$("#speciflcations").val();
				var company=$("#companys").val();
				if (company == "盒"){company = 6}
				if (company == "箱"){company = 7}
				if (company == "瓶"){company = 8}
				if (company == "支"){company = 9}
				if (company == "只"){company = 10}
				var coefficient=$("#coefficients").val();
				var productionName=$("#productionNames").val();
				var commodityName=$("#commodityNames").val();
				var biddingPrice=$("#biddingPrices").val();
				var approvalNumber=$("#approvalNumbers").val();
				var approvalTime=$("#approvalTimes").val();
				var isEntrance=$("input[name='isEntrances']:checked").val();
				console.log(isEntrance);
				var packagingTexture=$("#packagingTextures").val();
				var packUnit=$("#packUnits").val();
				var newestPrice=$("#newestPrices").val();
				var retailProvenance=$("#retailProvenances").val();
				var isCheckout=$("input[name='isEntrances']:checked").val();
				var heckoutNumber=$("#heckoutNumbers").val();
				var drugValidTime=$("#drugValidTimes").val();
				var productExplain=$("#productExplains").val();
				var drugState=$("#drugStatess").val();
				var obj = {
					"diId":diId,
					"serialNumber":serialNumber,
					"commonName": commonName,
					"dosageForm": dosageForm,
					"speciflcation": speciflcation,
					"unitId":company,
					"coefficient":coefficient,
					"productionName":productionName,
					"commodityName":commodityName,
					"biddingPrice":biddingPrice,
					"approvalNumber":approvalNumber,
					"approvalTime":approvalTime,
					"isEntrance":isEntrance,
					"packagingTexture":packagingTexture,
					"packUnit":packUnit,
					"newestPrice":newestPrice,
					"retailProvenance":retailProvenance,
					"isCheckout":isCheckout,
					"heckoutNumber":heckoutNumber,
					"drugValidTime":drugValidTime,
					"productExplain":productExplain,
					"drugState":drugState
				};
				//console.log(obj);
				$.ajax({
					url:"/drugInformation/updateDrugInformation",
					type:"post",
					datatype:"json",
					data:obj,
					success:function (data) {
						//console.log(data);
						reponse.editsavetr(obj, "table");
						alert("修改成功");
						window.location.reload();
					},error:function (data) {

					}
				})
				layer.close(index);
			},btn2:function(index,layero){
				layer.close(index);
			}
		});
	}
	//删除药品信息
	function deletetr(a, e) {
		var tr = $(a).parent().parent();
		reponse.resiverowdata(tr, "table");
		var rowdata=$("#table").data("rowdata");
		//alert(JSON.stringify(rowdata));
		var id = rowdata.diId
		$.ajax({
			url:"/drugInformation/delDrugInformation",
			type:"post",
			dataType:"json",
			data:id,
			success:function (data) {
				console.log(data);
			},error:function (data) {

			}
		})
		reponse.deletetr(tr, e);
	}
	/*function uptr(btn, e) {
		var tr = $(btn).parent().parent();
		reponse.moveuptr(tr, "table");
	}*/
	/*function downtr(btn, e) {
		var tr = $(btn).parent().parent();
		reponse.moveDown(tr, "table");
	}*/
	function ExportExcel() {
		var tableobj=$("#table").data("tableObj");
		reponse.JSONToCSVConvertor(tableobj, true,"人员表格");
	}
	function resivetabledata(){
		var pp=$("#table").data("tableObj").data;
		alert(JSON.stringify(pp));
	}
	/*function reloadtable(){
		var data=[
			{"Name": "1111","Age": 15,"Gender": "1","Height": 189,"Province": "1","Sport": "1"},
			{"Name": "2222","Age": 15,"Gender": "2","Height": 2,"Province": "2","Sport": "2"},
			{"Name": "3333","Age": 15,"Gender": "4","Height": 189,"Province": "3","Sport": "3"}
		]
		reponse.reloadtable(data,"table");
	}*/
	/*function coldata(){
		var pp=reponse.Columndata("Name","table");
		alert(pp);
	}*/
</script>
</html>