<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="../../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/plugins/angularjs/toaster.min.css">
    <script src="../../static/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../../static/plugins/angularjs/angular.min.js"></script>
    <link rel="stylesheet" href="../../static/plugins/angularjs/pagination.css">
    <script type="text/javascript" src="../../static/plugins/angularjs/pagination.js"></script>
    <script src="../../static/js/showLoading.js" type="text/javascript" charset="utf-8"></script>
    <style>
        label {
            float: left;
            width: 10em;
            margin-right: 1em;
            text-align: right;
        }
    </style>
    <script>
        var app = angular.module("myApp", ["pagination"]);
        app.controller("myContr", function ($scope, $http) {
            $scope.entity={};
            //获取医院信息
            $http({
                url:"/Hospital/findOneHospital",
                method:"post",
            }).success(function (response) {
                var date = new Date();
                var dateYear = date.getFullYear();             //获取年
                var dateMonth = date.getMonth()+1;               //获取月
                var dateDate = date.getDate();                 //获取当日
                var dateHours = date.getHours();               //获取小时
                var dateMinutes = date.getMinutes();           //获取分钟
                var dateSeconds = date.getSeconds();           //获取秒
                if (dateMonth < 10) dateMonth = "0" + dateMonth;
                if (dateDate < 10) dateDate = "0" + dateDate;
                if (dateHours < 10) dateHours = "0" + dateHours;
                if (dateMinutes < 10) dateMinutes = "0" + dateMinutes;
                if (dateSeconds < 10) dateSeconds = "0" + dateSeconds;

                var newTime = dateYear+"-"+dateMonth+"-"+dateDate+" "+dateHours+":"+dateMinutes+":"+dateSeconds;
                $scope.hospital=response;
                $scope.entity.purchaseName=response.hospitalName+newTime+"采购单";

            });
            $scope.paginationConf={
                currentPage: 1,  				//当前页
                totalItems: 10,					//总记录数
                itemsPerPage: 10,				//每页记录数
                perPageOptions: [5,10, 20, 30, 40, 50], //分页选项，下拉选择一页多少条记录
                onChange: function () {
                    $scope.find($scope.paginationConf.currentPage,$scope.paginationConf.itemsPerPage)
                }
            }
            $scope.drug={
                pageNum:0,
                pageSize:10
            }
            $scope.find=function(pageNum,items) {
                if (pageNum==null||pageNum==""){
                    pageNum=1;
                }
                $scope.drug.pageNum=pageNum;
                $scope.drug.pageSize=items;
                var druglist=$scope.drug;
                //console.log(druglist)
                $http({
                    url:"/PurchaseOrders/findAllPurchaseOrders",
                    method:"post",
                    params: druglist
                }).success(function (response) {
                    $scope.showLoadingBUtton3();
                    $scope.lists=response.list;
                    $scope.paginationConf.totalItems=response.total;
                })

            }
            $scope.showModalButton1 =  function (slogan){
                showModal({
                    title: "温馨提示",  //提示的标题
                    content: slogan,  //提示的内容
                    showCancel: false,  //是否显示取消按钮，默认为 true
                    cancelText: '取消',  //取消按钮的文字，默认为"取消"，最多 4 个字符
                    cancelColor: "#fff",  //取消按钮的文字颜色，默认为"#000000"
                    cancelBgColor: '#4c4c4c',  //取消按钮的背景颜色
                    confirmText: '确定',
                    confirmColor: '#fff',
                    confirmBgColor: '#ff130a',
                    success: function() {

                    }
                });
            }
            $scope.showLoadingBUtton3= function (){
                showLoading({
                    title: "数据加载。。。", //提示文字
                    icon: 'none', // 图标，有效值 "success", "loading", "none"
                    image: '', // 自定义图标的本地路径，image 的优先级高于 icon
                    duration: 1000, //提示的延迟时间，单位毫秒，默认：1500
                    mask: true, // 是否显示透明蒙层，防止触摸穿透，默认：false
                    success: function(res) { //接口调用成功的回调函数

                    },

                });
            }
            //添加
            $scope.submit = function () {
                var judge = true;
                var purchaseOrders=$scope.entity;
                var purchaseName = purchaseOrders.purchaseName;
                var beginTime = purchaseOrders.beginTime;
                var endTime = purchaseOrders.endTime;
                var linkmanName = purchaseOrders.linkmanName;
                var linkmanPhone = purchaseOrders.linkmanPhone;
                var postscript =purchaseOrders.postscript;
                if (purchaseName==null||purchaseName==''){
                    $scope.showModalButton1("请修改订单名称！");
                    judge=false;
                }
                if (beginTime==null||beginTime==''){
                    $scope.showModalButton1("请填写订单供货时间！");
                    judge=false;
                }
                if (endTime==null||endTime==''){
                    $scope.showModalButton1("请填写订单结束供货时间！");
                    judge=false;
                }if (linkmanName==null||linkmanName==''){
                    $scope.showModalButton1("请填写联系人姓名！");
                    judge=false;
                }if (linkmanPhone==null||linkmanPhone==''){
                    $scope.showModalButton1("请填写联系人电话！");
                    judge=false;
                }if (postscript==null||postscript==''){
                    $scope.showModalButton1("请填写备注！");
                    judge=false;
                }
                if (beginTime>endTime){
                    $scope.showModalButton1("开始时间与结束时间有误！");
                    judge=false;
                }
                if(judge) {
                    $http({
                        url: "/PurchaseOrders/addPurchaseOrders",
                        method: "post",
                        params: purchaseOrders
                    }).success(function (response) {
                        $scope.showModalButton1(response.slogan);
                        $("#editModal").modal('hide');//此处为添加框，关闭添加框
                        $scope.find($scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage);
                    })
                }
            }

            $scope.amend = function (poId) {


            }
            //修改

        });

    </script>


</head>
<body ng-app="myApp" ng-controller="myContr">
<div>
    <h5 class="alert alert-infoalert alert-info">采购单管理</h5>
    <table class="table table-bordered table-striped">

        <tr>
            <td colspan="1" align="right">
                <button type="button" class="btn1" ng-click="find()">查询</button>
            </td>
            <td>
                <button type="button" class="btn1" onclick="loadlick()">导出</button>
            </td>
        </tr>

    </table>

</div>
<div>
    <button type="button" class="btn1" data-toggle="modal" data-target="#editModal" ng-click="addClick()">添加
    </button>
    <button type="button" class="btn1" ng-click="loadlick()">导入
    </button>
</div>
<div>
    <table id="dataList" class="table">
        <thead>
        <tr>
            <th><input type="checkbox" name="pitchOn" onchange="childrenCheck()"></th>
            <th>医院名称</th>
            <th>采购单编号</th>
            <th>采购单名称</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>建单时间</th>
            <th>提交时间</th>
            <th>审核时间</th>
            <th>采购单状态</th>
            <th>查看</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        </thead>

        <tbody id="tbody">
        <tr ng-repeat="po in lists">
            <td><input type="checkbox" name="pitchOn" value="{{po.poId}}" onchange="childrenCheck()"></td>
            <td>{{po.hospitalName}}</td>
            <td>{{po.purchaseNumber}}</td>
            <td>{{po.purchaseName}}</td>
            <td>{{po.beginTime}}</td>
            <td>{{po.endTime}}</td>
            <td>{{po.fundTime}}</td>
            <td>{{po.submitTime}}</td>
            <td>{{po.auditTime}}</td>
            <td>{{po.purchaseState}}</td>
            <td><button class="btn bg-olive btn-xs" value="{{po.poId}}" onclick="drugdetail()" data-toggle="modal" >详细</button></td>
            <td><button class="btn bg-olive btn-xs" data-toggle="modal" data-target="#modification" ng-click="amend(po.poId)">修改</button></td>
            <td><button class="btn bg-olive btn-xs" value="{{x.diId}}" onclick="expurgate()">删除</button></td>
        </tr>
        </tbody>
    </table>
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>
<div class="#editModal"></div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button id="bt1" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">采购单添加</h3>
            </div>
            <div class="modal-body">

                <table class="table table-bordered table-striped">
                    <tr>
                        <td>医院编号:</td>
                        <td><input  name="hospitalNumber" ng-model="hospital.hospitalNumber"  class="form-control" disabled="disabled"></td>
                        <td>医院名称:</td>
                        <td><input name="hospitalName" ng-model="hospital.hospitalName" class="form-control" disabled="disabled">
                        </td>
                    </tr>
                    <tr>

                        <td>采购单编号:</td>
                        <td><input  name="purchaseNumber"
                                   ng-model="entity.purchaseNumber" class="form-control" disabled="disabled"></td>
                        <td>采购单名称:</td>
                        <td><input  name="purchaseName" ng-model="entity.purchaseName" class="form-control" ></td>
                    </tr>
                    <tr>
                        <td>供货时间:</td>
                        <td><input  name="beginTime"
                                   ng-model="entity.beginTime"  type="date">-
                            <input  name="endTime"
                                    ng-model="entity.endTime"  type="date">
                        </td>
                        <td>建单时间:</td>
                        <td><input  name="fundTime"
                                   ng-model="entity.fundTime" class="form-control" disabled="disabled"></td>

                    </tr>
                    <tr>
                        <td>联系人:</td>
                        <td><input  name="linkmanName"
                                    ng-model="entity.linkmanName" class="form-control"></td>
                        <td>联系电话:</td>
                        <td><input  name="linkmanPhone"
                                    ng-model="entity.linkmanPhone" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>采购单状态:</td>
                        <td><input  name="purchaseState"
                                   ng-model="entity.purchaseState" class="form-control" disabled="disabled"></td>
                        <td>提交时间:</td>
                        <td><input  name="modifiedTime"
                                   ng-model="entity.modifiedTime" class="form-control" disabled="disabled"></td>

                    </tr>
                    <tr>
                        <td>备注:</td>
                        <td><input  name="postscript"
                                   ng-model="entity.postscript" class="form-control" ></td>
                    </tr>
                    <tr>
                        <td>审核人:</td>
                        <td><input  name="userId"
                                   ng-model="entity.userId" class="form-control" disabled="disabled"></td>
                        <td>审核时间:</td>
                        <td><input  name="auditTime"
                                   ng-model="entity.auditTime" class="form-control" disabled="disabled"></td>

                    </tr>
                    <tr>
                        <td>审核意见:</td>
                        <td><input  name="auditOpinion"
                                   ng-model="entity.auditOpinion" class="form-control"  disabled="disabled"></td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="submit()">提交</button>
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="bt" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabe">采购单修改</h3>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>医院编号:</td>
                            <td><input  name="hospitalNumber" ng-model="hospital.hospitalNumber"  class="form-control" disabled="disabled"></td>
                            <td>医院名称:</td>
                            <td><input name="hospitalName" ng-model="hospital.hospitalName" class="form-control" disabled="disabled">
                            </td>
                        </tr>
                        <tr>

                            <td>采购单编号:</td>
                            <td><input  name="purchaseNumber"
                                        ng-model="modification.purchaseNumber" class="form-control" disabled="disabled"></td>
                            <td>采购单名称:</td>
                            <td><input  name="purchaseName" ng-model="modification.purchaseName" class="form-control" ></td>
                        </tr>
                        <tr>
                            <td>供货时间:</td>
                            <td><input  name="beginTime"
                                        ng-model="modification.beginTime"  type="date">-
                                <input  name="endTime"
                                        ng-model="modification.endTime"  type="date">
                            </td>
                            <td>建单时间:</td>
                            <td><input  name="fundTime"
                                        ng-model="modification.fundTime" class="form-control" disabled="disabled"></td>

                        </tr>
                        <tr>
                            <td>联系人:</td>
                            <td><input  name="linkmanName"
                                        ng-model="modification.linkmanName" class="form-control"></td>
                            <td>联系电话:</td>
                            <td><input  name="linkmanPhone"
                                        ng-model="modification.linkmanPhone" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>采购单状态:</td>
                            <td><input  name="purchaseState"
                                        ng-model="modification.purchaseState" class="form-control" disabled="disabled"></td>
                            <td>提交时间:</td>
                            <td><input  name="modifiedTime"
                                        ng-model="modification.modifiedTime" class="form-control" disabled="disabled"></td>

                        </tr>
                        <tr>
                            <td>备注:</td>
                            <td><input  name="postscript"
                                        ng-model="modification.postscript" class="form-control" ></td>
                        </tr>
                        <tr>
                            <td>审核人:</td>
                            <td><input  name="userId"
                                        ng-model="modification.userId" class="form-control" disabled="disabled"></td>
                            <td>审核时间:</td>
                            <td><input  name="auditTime"
                                        ng-model="modification.auditTime" class="form-control" disabled="disabled"></td>

                        </tr>
                        <tr>
                            <td>审核意见:</td>
                            <td><input  name="auditOpinion"
                                        ng-model="modification.auditOpinion" class="form-control"  disabled="disabled"></td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="submit()">提交</button>
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>