<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital_purchase.dao.PurchaseOrderDao.PurchaseOrdersDaoMapper">
  <resultMap id="BaseResultMap" type="com.hospital_purchase.pojo.PurchaseOrders">
    <id column="po_id" jdbcType="INTEGER" property="poId" />
    <result column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="purchase_number" jdbcType="VARCHAR" property="purchaseNumber" />
    <result column="purchase_name" jdbcType="VARCHAR" property="purchaseName" />
    <result column="audit_state" jdbcType="INTEGER" property="auditState" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="linkman_name" jdbcType="VARCHAR" property="linkmanName" />
    <result column="linkman_phone" jdbcType="VARCHAR" property="linkmanPhone" />
    <result column="postscript" jdbcType="VARCHAR" property="postscript" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="audit_opinion" jdbcType="VARCHAR" property="auditOpinion" />
    <result column="purchase_state" jdbcType="INTEGER" property="purchaseState" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="fund_time" jdbcType="TIMESTAMP" property="fundTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="del_id" jdbcType="INTEGER" property="delId" />
  </resultMap>
  <resultMap id="BaseMap" type="com.hospital_purchase.vo.PurchaseOrdersVO">
    <id column="po_id" jdbcType="INTEGER" property="poId" />
    <result column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="purchase_number" jdbcType="VARCHAR" property="purchaseNumber" />
    <result column="purchase_name" jdbcType="VARCHAR" property="purchaseName" />
    <result column="audit_state" jdbcType="INTEGER" property="auditState" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="linkman_name" jdbcType="VARCHAR" property="linkmanName" />
    <result column="linkman_phone" jdbcType="VARCHAR" property="linkmanPhone" />
    <result column="postscript" jdbcType="VARCHAR" property="postscript" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="audit_opinion" jdbcType="VARCHAR" property="auditOpinion" />
    <result column="purchase_state" jdbcType="INTEGER" property="purchaseState" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="fund_time" jdbcType="TIMESTAMP" property="fundTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="delId" jdbcType="INTEGER" property="delId" />
    <result column="hospital_number" jdbcType="VARCHAR" property="hospitalNumber"/>
    <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName"/>
    <result column="purchase_state_name" jdbcType="VARCHAR" property="purchaseStateName"/>
    <result column="user_name" jdbcType="VARCHAR" property="userName"/>

  </resultMap>
  <sql id="Base_Column_List">
    po_id, audit_state, audit_opinion, hospital_id, purchase_name, fund_time, purchase_state, begin_time,end_time,postscript,hospital_number,
    modified_time, submit_time, linkman_name, linkman_phone, user_id, audit_time, purchase_number,del_id
  </sql>

  <select id="selectPurchaseOrdersList" resultMap="BaseMap" parameterType="com.hospital_purchase.vo.PurchaseOrdersVO">
    select
    po_id, audit_state, audit_opinion, po.hospital_id, purchase_name, fund_time, purchase_state,begin_time,end_time,postscript,hospital_number,
    po.modified_time, po.submit_time, linkman_name, linkman_phone, user_id, user_name, audit_time, purchase_number,po.del_id delId,hospital_name,dict.dictionaries_name purchase_state_name
    from purchase_orders po
    left join hospital hs on hs.hp_id = po.hospital_id
    LEFT JOIN dictionaries dict on dict.dic_id=po.purchase_state
    left join user us on us.us_id=po.user_id
    <where>
      <if test="hospitalName!=null  and hospitalName != ''">
        and hospital_name like CONCAT("%",#{hospitalName},"%")
      </if>
      <if test="purchaseNumber!=null  and purchaseNumber != ''">
        and purchase_number like CONCAT("%",#{purchaseNumber},"%")
      </if>
      <if test="purchaseName!=null  and purchaseName != ''">
        and purchase_name like CONCAT("%",#{purchaseName},"%")
      </if>
      and po.del_id=0
    </where>
    order by fund_time,modified_time DESC
  </select>
  <select id="selectPurchaseOrdersById" parameterType="integer" resultMap="BaseMap">
    select
     po_id, audit_state, audit_opinion, po.hospital_id, purchase_name, fund_time, purchase_state,begin_time,end_time,postscript,hospital_number,
    po.modified_time, po.submit_time, linkman_name, linkman_phone, user_id, user_name, audit_time, purchase_number,po.del_id delId,hospital_name,dict.dictionaries_name purchase_state_name
    from purchase_orders po
    left join hospital hs on hs.hp_id = po.hospital_id
    left join user us on us.us_id=po.user_id
    LEFT JOIN dictionaries dict on dict.dic_id=po.purchase_state
    where po.po_id=#{poId}
    and po.del_id=0
  </select>
  <update id="updatePurchaseOrders" parameterType="integer">
    update purchase_orders
    set del_id = 1
    where po_id = #{poId,jdbcType=INTEGER}
  </update>
  <update id="updatePurchaseDrugState" parameterType="integer">
    update purchase_orders
    set purchase_state=107
    where po_id=#{poId}
    and del_id=0
  </update>
  <update id="updatePurchaseDrugAudit" parameterType="com.hospital_purchase.pojo.PurchaseDrug">
    update purchase_orders
    set purchase_state=#{purchaseState},audit_opinion=#{auditOpinion},audit_time=#{auditTime},user_id=#{userId}
    where po_id=#{poId}
    and del_id=0
  </update>
</mapper>