<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../static/plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("app", []);
        app.controller("myctl", function ($scope, $http) {
            $http({
                url: '/findAllParentLimit',
                method: 'get',
            }).success(function (data) {
                $scope.parentLimit = data;
            })
            $scope.subLimitFunction = function () {
                var lf = $scope.LimitFunction;
                if(confirm("确定添加？")){
                    $http({
                        url: '/addLimitFunction',
                        method: 'get',
                        params:lf,
                    }).success(function (data) {
                        if (data>0){
                            alert("添加成功")
                        }
                        window.location.href="index.html";
                    })
                }

            }
            $scope.changeLimitFunction = function () {

            }
        })
    </script>

</head>
<body ng-app="app" ng-controller="myctl">
    <table align="center">
        <tr>
            <td>功能名称：</td>
            <td><input ng-model="LimitFunction.limitName" type="text" name="limitName"></td>
        </tr>
        <tr>
            <td>路径：</td>
            <td><input ng-model="LimitFunction.actionName" type="text" name="actionName"></td>
        </tr>
        <tr>
            <td>父路径：</td>
            <td>
                <select  ng-model="LimitFunction.parentId" name="parentId">
                    <option  value="">请选择</option>
                    <option ng-repeat="limitFunction in parentLimit" ng-value="limitFunction.id">{{limitFunction.limitName}}
                    </option>
                </select>

                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button id="button_sub" ng-click="subLimitFunction()">提交</button></td>
        </tr>

    </table>
</body>
</html>