<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="../../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/plugins/angularjs/toaster.min.css">
    <script src="../../static/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../../static/plugins/angularjs/angular.min.js"></script>
    <link rel="stylesheet" href="../../static/plugins/angularjs/pagination.css">
    <script type="text/javascript" src="../../static/plugins/angularjs/pagination.js"></script>
    <script src="../../static/js/showLoading.js" type="text/javascript" charset="utf-8"></script>
    <style>
        label {
            float: left;
            width: 10em;
            margin-right: 1em;
            text-align: right;
        }
        .contents{
            text-align:left;
        }
        .introduce{
            text-align:right;
        }
    </style>
    <script>
        var app = angular.module("myApp", ["pagination"]);
        app.controller("myContr", function ($scope, $http) {
            $scope.entity = {};
            $scope.paginationConf = {
                currentPage: 1,  				//当前页
                totalItems: 10,					//总记录数
                itemsPerPage: 10,				//每页记录数
                perPageOptions: [5, 10, 20, 30, 40, 50], //分页选项，下拉选择一页多少条记录
                onChange: function () {
                    $scope.find($scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage)
                }
            }
            $scope.drug = {
                pageNum: 0,
                pageSize: 10,
            }
            //获取全部信息
            $scope.find = function (pageNum, items) {

                if (pageNum == null || pageNum == "") {
                    pageNum = 1;
                }
                $scope.drug.pageNum = pageNum;
                $scope.drug.pageSize = items;
                $scope.drug.purchaseId = $("#purchaseId").val();
                var drugList = $scope.drug;
                //console.log(drugList)
                $http({
                    url: "/PurchaseDrug/findAllDrugByPurchase",
                    method: "post",
                    params: drugList
                }).success(function (response) {
                    $scope.lists = response.list;
                    $scope.paginationConf.totalItems = response.total;
                })

            }
            //返回结果提示
            $scope.showModalButton1 = function (slogan) {
                showModal({
                    title: "温馨提示",  //提示的标题
                    content: slogan,  //提示的内容
                    showCancel: false,  //是否显示取消按钮，默认为 true
                    cancelText: '取消',  //取消按钮的文字，默认为"取消"，最多 4 个字符
                    cancelColor: "#fff",  //取消按钮的文字颜色，默认为"#000000"
                    cancelBgColor: '#4c4c4c',  //取消按钮的背景颜色
                    confirmText: '确定',
                    confirmColor: '#fff',
                    confirmBgColor: '#ff130a',
                    success: function () {

                    }
                });
            }
            //返回结果提示
            $scope.showModalButton3 = function (slogan,count) {
                showModal({
                    title: "温馨提示",  //提示的标题
                    content: slogan+"共"+count+"条数据",  //提示的内容
                    showCancel: false,  //是否显示取消按钮，默认为 true
                    cancelText: '取消',  //取消按钮的文字，默认为"取消"，最多 4 个字符
                    cancelColor: "#fff",  //取消按钮的文字颜色，默认为"#000000"
                    cancelBgColor: '#4c4c4c',  //取消按钮的背景颜色
                    confirmText: '确定',
                    confirmColor: '#fff',
                    confirmBgColor: '#ff130a',
                    success: function () {

                    }
                });
            }

            //删除提示
            $scope.showModalButton2 = function () {
                showModal({
                    title: "温馨提示",  //提示的标题
                    content: "确认要删除吗？",  //提示的内容
                    showCancel: true,  //是否显示取消按钮，默认为 true
                    cancelText: '取消',  //取消按钮的文字，默认为"取消"，最多 4 个字符
                    cancelColor: "#fff",  //取消按钮的文字颜色，默认为"#000000"
                    cancelBgColor: '#4c4c4c',  //取消按钮的背景颜色
                    confirmText: '确定',
                    confirmColor: '#fff',
                    confirmBgColor: '#ff1d31',
                    success: function (res) {
                        if (res.confirm) {
                            return true;
                        } else {
                            return false;
                        }
                    }
                });
            }

            //添加
            $scope.submit = function () {
                var  purchaseId= $("#purchaseId").val();
                console.log(purchaseId)
                //window.location.href="/PurchaseDrug/toDrugInformation?poId="+poId;
                window.location.href="/PurchaseDrug/toAddPurchaseDrug?purchaseId="+purchaseId;

            }

            //查所有药品类别
            $http({
                url: "/Dictionaries/findChildByParentId",
                method: "post",
                params: {"dictionariesId": 1}
            }).success(function (response) {
                $scope.drugCategoryName = response;
            })
            //查所有供货商
            $http({
                url: "/supplier/findAllSupplierName",
                method: "post"
            }).success(function (response) {
                $scope.SupplierNameList = response;
            })

            //查采购状态purchaseState
            $http({
                url: "/Dictionaries/findChildByParentId",
                method: "post",
                params: {"dictionariesId": 10}
            }).success(function (response) {
                $scope.purchaseStateName = response;
            })

            //修改数据处理
            $scope.reviseMassage = function(pdId,drugId,supplierId){
                $scope.purchaseDrugVO={
                    pdId:pdId,
                    drugId:drugId,
                    supplierId:supplierId
                }

            }

            //更改供货商
            $scope.reviseSave = function(){
                var purchaseDrugVO = $scope.purchaseDrugVO;
                $http({
                    url: "/PurchaseDrug/changeSupplier",
                    method: "post",
                    params: purchaseDrugVO
                }).success(function (response) {
                    $scope.showModalButton1(response.slogan);
                    $scope.find($scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage);
                })
            }
            //删除
            $scope.removeOne = function () {
                showModal({
                    title: "温馨提示",  //提示的标题
                    content: "确认要删除吗？",  //提示的内容
                    showCancel: true,  //是否显示取消按钮，默认为 true
                    cancelText: '取消',  //取消按钮的文字，默认为"取消"，最多 4 个字符
                    cancelColor: "#fff",  //取消按钮的文字颜色，默认为"#000000"
                    cancelBgColor: '#4c4c4c',  //取消按钮的背景颜色
                    confirmText: '确定',
                    confirmColor: '#fff',
                    confirmBgColor: '#ff1d31',
                    success: function (res) {
                        $scope.dmIdList=[];
                        var checkBoxs=document.getElementsByName("checkbox");
                        for (var i = 0; i <checkBoxs.length ; i++) {
                            if (checkBoxs[i].checked){
                                $scope.dmIdList.push(checkBoxs[i].value);
                            }
                        }
                        var dmIdList = $scope.dmIdList;
                        console.log(dmIdList)
                        if (dmIdList=='') {
                            $scope.showModalButton1("请选择数据！")
                        }else {
                            if (res.confirm) {
                                $http({
                                    url: "/PurchaseDrug/removeUpdatePurchaseDrug",
                                    method: "post",
                                    params: {pdId: dmIdList}
                                }).success(function (response) {
                                    $scope.showModalButton3(response.slogan,response.count);
                                    $scope.find($scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage);
                                })
                            }
                        }

                    }
                });

            }

            //保存采购量
            $scope.saveAmount = function(){
                //关联表id
                $scope.dmIdList=[];
                //交易价格集合
                $scope.dealPriceList=[];
                //交易量集合
                $scope.purchaseQuantityList=[];
                var checkbox=document.getElementsByName("checkbox");
                var dealPrice = document.getElementsByName("dealPrice");
                var purchaseQuantity = document.getElementsByName("purchaseQuantity");
                for (var i = 0; i <checkbox.length ; i++) {
                    if (checkbox[i].checked){
                        if(checkbox[i].value==""){
                            $scope.showModalButton1("请选择相应药品");
                        }else {
                            $scope.dmIdList.push(checkbox[i].value);
                        }
                        if(dealPrice[i].value==""){
                            $scope.showModalButton1("请填写交易价格");
                        }else {
                            $scope.dealPriceList.push(dealPrice[i].value);
                        }
                        if(purchaseQuantity[i].value==""){
                            $scope.showModalButton1("请填写采购量");
                        }else {
                            $scope.purchaseQuantityList.push(purchaseQuantity[i].value);
                        }

                    }
                }
                var pdIds = $scope.dmIdList;
                var dealPrices = $scope.dealPriceList;
                var purchaseQuantitys = $scope.purchaseQuantityList;
                if (pdIds!='') {

                    $http({
                        url: "/PurchaseDrug/changePurchaseDrugDealPriceAndPurchaseQuantity",
                        method: "post",
                        params: {pdIds: pdIds,dealPrices:dealPrices,counts:purchaseQuantitys}
                    }).success(function (response) {
                        $scope.showModalButton3(response.slogan,response.count);
                        $scope.find($scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage);
                    })
                }else {
                    $scope.showModalButton1("请选择相应药品");
                }
            }

            //提交采购单
            $scope.submitPurchaseOrders = function(){
                //采购单id
                var  purchaseId= $("#purchaseId").val();
                $http({
                    url: "/PurchaseOrders/changePurchaseDrugState",
                    method: "post",
                    params: {"poId": purchaseId}
                }).success(function (response) {
                    showModal({
                        title: "温馨提示",  //提示的标题
                        content: response.slogan,  //提示的内容
                        showCancel: false,  //是否显示取消按钮，默认为 true
                        cancelText: '取消',  //取消按钮的文字，默认为"取消"，最多 4 个字符
                        cancelColor: "#fff",  //取消按钮的文字颜色，默认为"#000000"
                        cancelBgColor: '#4c4c4c',  //取消按钮的背景颜色
                        confirmText: '确定',
                        confirmColor: '#fff',
                        confirmBgColor: '#ff130a',
                        success: function () {
                            window.location.href = "/PurchaseOrders/toPurchaseOrders"
                        }
                    });
                })
            }
            //详情页
            $scope.detailedOne = function (poId) {
                window.location.href = "/PurchaseDrug/toDrugInformation?poId=" + poId;
            }

        });

    </script>
    <script type="text/javascript">
        //获取checkbox按钮组
        var allpro = document.getElementsByName("checkbox");
        //全选方法
        function All() {
            //获取全选按钮
            var all = document.getElementById("pitchOn");
            //全选按钮被选中时，遍历所有按钮
            if (all.checked) {
                for (var i = 0; i < allpro.length; i++) {
                    if (allpro[i].type=="checkbox") {
                        allpro[i].checked=true;
                    }
                }
                //全选按钮未被选中时
            }else{
                for (var i = 0; i < allpro.length; i++) {
                    if (allpro[i].type=="checkbox") {
                        allpro[i].checked=false;
                    }
                }
            }
        }

    </script>

</head>
<body ng-app="myApp" ng-controller="myContr">
<div>
    <h5 class="alert alert-infoalert alert-info">采购药品管理</h5>
    <table class="table table-bordered table-striped">
        <input type="hidden" th:value="${poId}" ng-model="drug.purchaseId" id="purchaseId">
        <!--====================================-->
        <tr>
            <td class="introduce">流 水 号:</td>
            <td class="contents"><input ng-model="drug.serialNumber"  class="form-control"/></td>
            <td class="introduce">通 用 名:</td>
            <td class="contents"><input ng-model="drug.commonName"  class="form-control"/></td>
        </tr>
        <tr>
            <td class="introduce">剂    型:</td>
            <td class="contents"><input ng-model="drug.dosageForm"  class="form-control"/></td>
            <td class="introduce">规    格:</td>
            <td class="contents"><input ng-model="drug.speciflcation"  class="form-control"/></td>
        </tr>
        <tr>
            <td class="introduce">单    位:</td>
            <td class="contents"><input ng-model="drug.company"  class="form-control"/></td>
            <td class="introduce">转换系数:</td>
            <td class="contents"><input ng-model="drug.coefficient"  class="form-control"/></td>
        </tr>
        <tr>
            <td class="introduce">生产企业:</td>
            <td class="contents"><input ng-model="drug.productionName"  class="form-control"/></td>
            <td class="introduce">商品名称:</td>
            <td class="contents"><input ng-model="drug.commodityName"  class="form-control"/></td>
        </tr>
        <tr>
            <td class="introduce">药品类别:</td>
            <td class="contents">
                <select ng-model="drug.drugCategory" class="form-control">
                    <option value="">全部</option>
                    <option ng-repeat="drugCategory in drugCategoryName" ng-value="drugCategory.dicId">{{drugCategory.dictionariesName}}</option>
                </select>
            </td>
            <td class="introduce">采购状态:</td>
            <td class="contents">
                <select ng-model="drug.purchaseState" class="form-control">
                    <option value="">全部</option>
                    <option ng-repeat="purchaseState in purchaseStateName" ng-value="purchaseState.dicId">{{purchaseState.dictionariesName}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="1" align="right">
                <button type="button" class="btn btn-success" ng-click="find()">查询</button>
            </td>
            <td></td>
            <td></td>
        </tr>

    </table>

</div>
<div>
    <table id="dataList" class="table">
        <thead>
       <div style="margin-top: 20px">
           <input type="checkbox" id="pitchOn" onclick="All()">全选
           <input type="checkbox" name="pitchOne" onchange="childrenCheck()">反选
           <button style="margin-left: 10px" type="button" class="btn btn-primary btn-sm" ng-click="submit()">添加</button>
           <button style="margin-left: 10px" type="button" class="btn btn-danger btn-sm" ng-click="removeOne()">删除</button>
           <button style="margin-left: 10px" type="button" class="btn btn-primary btn-sm" ng-click="saveAmount()">保存采购量</button>
           <button style="margin-left: 10px" type="button" class="btn btn-primary btn-sm">到期未送货</button>
           <button style="margin-left: 10px" type="button" class="btn btn-primary btn-sm" ng-click="submitPurchaseOrders()">提交采购单</button>
       </div>

        <tr>
            <th>选择药品</th>
            <th>药品流水号</th>
            <th>通用名</th>
            <th>剂型</th>
            <th>规格</th>
            <th>单位</th>
            <th>转换系数</th>
            <th>生产企业</th>
            <th>中标价</th>
            <th>交易价</th>
            <th>采购量</th>
            <th>采购总金额</th>
            <th>供货企业</th>
            <th>修改供货企业</th>
            <th>采购状态</th>
            <th>详细</th>
        </tr>
        </thead>

        <tbody id="tbody">
        <tr ng-repeat="pd in lists">
            <td><input type="checkbox" name="checkbox" ng-value="pd.pdId" ></td>
            <td>{{pd.serialNumber}}</td>
            <td>{{pd.commonName}}</td>
            <td>{{pd.dosageForm}}</td>
            <td>{{pd.speciflcation}}</td>
            <td>{{pd.company}}</td>
            <td>{{pd.coefficient}}</td>
            <td>{{pd.productionName}}</td>
            <td>{{pd.bidPrice}}</td>
            <!--{{pd.dealPrice}}-->
            <td><input type="text" name="dealPrice" style="width: 50px;" ng-value="pd.dealPrice"></td>
            <!--{{pd.purchaseQuantity}}-->
            <td><input type="text" name="purchaseQuantity" style="width: 50px;" ng-value="pd.purchaseQuantity"></td>
            <td>{{pd.purchaseTotalAmount}}</td>
            <td>{{pd.supplierName}}</td>
            <td>
                <button class="btn btn-warning" data-toggle="modal" data-target="#modification"
                        ng-click="reviseMassage(pd.pdId,pd.drugId,pd.supplierId)">修改供货企业
                </button>
            </td>

            <td>{{pd.purchaseStateName}}</td>
            <td>
                <button class="btn btn-success" ng-click="detailedOne(po.poId)" data-toggle="modal">详细</button>
            </td>
        </tr>
        </tbody>
    </table>
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>
<div class="modal fade" id="modification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button id="bt" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabe">供货商修改</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>供货商名称:</td>
                        <td>
                            <select ng-model="purchaseDrugVO.supplierId" class="form-control">
                                <option value="">全部</option>
                                <option ng-repeat="supplierName in SupplierNameList" ng-value="supplierName.spId" ng-selected="purchaseDrugVO.supplierId==supplierName.spId">{{supplierName.supplierName}}</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" ng-click="reviseSave()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>