<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital_purchase.dao.drugInformation.DrugMessageInformationMapper">
  <resultMap id="BaseResultMap" type="com.hospital_purchase.pojo.DrugMessage">
    <id column="dm_id" jdbcType="INTEGER" property="dmId" />
    <result column="drug_items_id" jdbcType="INTEGER" property="drugItemsId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="commodity_name" jdbcType="VARCHAR" property="commodityName" />
    <result column="bidding_price" jdbcType="DECIMAL" property="biddingPrice" />
    <result column="quality_level" jdbcType="VARCHAR" property="qualityLevel" />
    <result column="found_time" jdbcType="TIMESTAMP" property="foundTime" />
    <result column="approval_number" jdbcType="VARCHAR" property="approvalNumber" />
    <result column="is_entrance" jdbcType="BIT" property="isEntrance" />
    <result column="pack_unit" jdbcType="INTEGER" property="packUnit" />
    <result column="retail_provenance" jdbcType="VARCHAR" property="retailProvenance" />
    <result column="heckout_number" jdbcType="VARCHAR" property="heckoutNumber" />
    <result column="product_explain" jdbcType="VARCHAR" property="productExplain" />
    <result column="approval_time" jdbcType="TIMESTAMP" property="approvalTime" />
    <result column="packaging_texture" jdbcType="VARCHAR" property="packagingTexture" />
    <result column="newest_price" jdbcType="DECIMAL" property="newestPrice" />
    <result column="is_checkout" jdbcType="TINYINT" property="isCheckout" />
    <result column="drug_valid_time" jdbcType="TIMESTAMP" property="drugValidTime" />
    <result column="quality_level_explain" jdbcType="VARCHAR" property="qualityLevelExplain" />
    <result column="product_photo" jdbcType="VARCHAR" property="productPhoto" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    dm_id, drug_items_id, company_name, commodity_name, bidding_price, quality_level, 
    found_time, approval_number, is_entrance, pack_unit, retail_provenance, heckout_number, 
    product_explain, approval_time, packaging_texture, newest_price, is_checkout, drug_valid_time, 
    quality_level_explain, product_photo, modified_time
  </sql>
  <insert id="addDrugMessageInfo" parameterType="com.hospital_purchase.pojo.DrugMessage">
    insert into drug_message (dm_id, drug_items_id, company_name,
      commodity_name, bidding_price, quality_level,
      found_time, approval_number, is_entrance,
      pack_unit, retail_provenance, heckout_number,
      product_explain, approval_time, packaging_texture,
      newest_price, is_checkout, drug_valid_time,
      quality_level_explain, product_photo, modified_time
      )
    values (#{dmId,jdbcType=INTEGER}, #{drugItemsId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR},
      #{commodityName,jdbcType=VARCHAR}, #{biddingPrice,jdbcType=DECIMAL}, #{qualityLevel,jdbcType=VARCHAR},
      #{foundTime,jdbcType=TIMESTAMP}, #{approvalNumber,jdbcType=VARCHAR}, #{isEntrance,jdbcType=BIT},
      #{packUnit,jdbcType=INTEGER}, #{retailProvenance,jdbcType=VARCHAR}, #{heckoutNumber,jdbcType=VARCHAR},
      #{productExplain,jdbcType=VARCHAR}, #{approvalTime,jdbcType=TIMESTAMP}, #{packagingTexture,jdbcType=VARCHAR},
      #{newestPrice,jdbcType=DECIMAL}, #{isCheckout,jdbcType=TINYINT}, #{drugValidTime,jdbcType=TIMESTAMP},
      #{qualityLevelExplain,jdbcType=VARCHAR}, #{productPhoto,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from drug_message
    where dm_id = #{dmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from drug_message
    where dm_id = #{dmId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hospital_purchase.pojo.DrugMessage">
    insert into drug_message (dm_id, drug_items_id, company_name, 
      commodity_name, bidding_price, quality_level, 
      found_time, approval_number, is_entrance, 
      pack_unit, retail_provenance, heckout_number, 
      product_explain, approval_time, packaging_texture, 
      newest_price, is_checkout, drug_valid_time, 
      quality_level_explain, product_photo, modified_time
      )
    values (#{dmId,jdbcType=INTEGER}, #{drugItemsId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, 
      #{commodityName,jdbcType=VARCHAR}, #{biddingPrice,jdbcType=DECIMAL}, #{qualityLevel,jdbcType=VARCHAR}, 
      #{foundTime,jdbcType=TIMESTAMP}, #{approvalNumber,jdbcType=VARCHAR}, #{isEntrance,jdbcType=BIT}, 
      #{packUnit,jdbcType=INTEGER}, #{retailProvenance,jdbcType=VARCHAR}, #{heckoutNumber,jdbcType=VARCHAR}, 
      #{productExplain,jdbcType=VARCHAR}, #{approvalTime,jdbcType=TIMESTAMP}, #{packagingTexture,jdbcType=VARCHAR}, 
      #{newestPrice,jdbcType=DECIMAL}, #{isCheckout,jdbcType=TINYINT}, #{drugValidTime,jdbcType=TIMESTAMP}, 
      #{qualityLevelExplain,jdbcType=VARCHAR}, #{productPhoto,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hospital_purchase.pojo.DrugMessage">
    insert into drug_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dmId != null">
        dm_id,
      </if>
      <if test="drugItemsId != null">
        drug_items_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="commodityName != null">
        commodity_name,
      </if>
      <if test="biddingPrice != null">
        bidding_price,
      </if>
      <if test="qualityLevel != null">
        quality_level,
      </if>
      <if test="foundTime != null">
        found_time,
      </if>
      <if test="approvalNumber != null">
        approval_number,
      </if>
      <if test="isEntrance != null">
        is_entrance,
      </if>
      <if test="packUnit != null">
        pack_unit,
      </if>
      <if test="retailProvenance != null">
        retail_provenance,
      </if>
      <if test="heckoutNumber != null">
        heckout_number,
      </if>
      <if test="productExplain != null">
        product_explain,
      </if>
      <if test="approvalTime != null">
        approval_time,
      </if>
      <if test="packagingTexture != null">
        packaging_texture,
      </if>
      <if test="newestPrice != null">
        newest_price,
      </if>
      <if test="isCheckout != null">
        is_checkout,
      </if>
      <if test="drugValidTime != null">
        drug_valid_time,
      </if>
      <if test="qualityLevelExplain != null">
        quality_level_explain,
      </if>
      <if test="productPhoto != null">
        product_photo,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dmId != null">
        #{dmId,jdbcType=INTEGER},
      </if>
      <if test="drugItemsId != null">
        #{drugItemsId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="biddingPrice != null">
        #{biddingPrice,jdbcType=DECIMAL},
      </if>
      <if test="qualityLevel != null">
        #{qualityLevel,jdbcType=VARCHAR},
      </if>
      <if test="foundTime != null">
        #{foundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalNumber != null">
        #{approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="isEntrance != null">
        #{isEntrance,jdbcType=BIT},
      </if>
      <if test="packUnit != null">
        #{packUnit,jdbcType=INTEGER},
      </if>
      <if test="retailProvenance != null">
        #{retailProvenance,jdbcType=VARCHAR},
      </if>
      <if test="heckoutNumber != null">
        #{heckoutNumber,jdbcType=VARCHAR},
      </if>
      <if test="productExplain != null">
        #{productExplain,jdbcType=VARCHAR},
      </if>
      <if test="approvalTime != null">
        #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="packagingTexture != null">
        #{packagingTexture,jdbcType=VARCHAR},
      </if>
      <if test="newestPrice != null">
        #{newestPrice,jdbcType=DECIMAL},
      </if>
      <if test="isCheckout != null">
        #{isCheckout,jdbcType=TINYINT},
      </if>
      <if test="drugValidTime != null">
        #{drugValidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityLevelExplain != null">
        #{qualityLevelExplain,jdbcType=VARCHAR},
      </if>
      <if test="productPhoto != null">
        #{productPhoto,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hospital_purchase.pojo.DrugMessage">
    update drug_message
    <set>
      <if test="drugItemsId != null">
        drug_items_id = #{drugItemsId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null">
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="biddingPrice != null">
        bidding_price = #{biddingPrice,jdbcType=DECIMAL},
      </if>
      <if test="qualityLevel != null">
        quality_level = #{qualityLevel,jdbcType=VARCHAR},
      </if>
      <if test="foundTime != null">
        found_time = #{foundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalNumber != null">
        approval_number = #{approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="isEntrance != null">
        is_entrance = #{isEntrance,jdbcType=BIT},
      </if>
      <if test="packUnit != null">
        pack_unit = #{packUnit,jdbcType=INTEGER},
      </if>
      <if test="retailProvenance != null">
        retail_provenance = #{retailProvenance,jdbcType=VARCHAR},
      </if>
      <if test="heckoutNumber != null">
        heckout_number = #{heckoutNumber,jdbcType=VARCHAR},
      </if>
      <if test="productExplain != null">
        product_explain = #{productExplain,jdbcType=VARCHAR},
      </if>
      <if test="approvalTime != null">
        approval_time = #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="packagingTexture != null">
        packaging_texture = #{packagingTexture,jdbcType=VARCHAR},
      </if>
      <if test="newestPrice != null">
        newest_price = #{newestPrice,jdbcType=DECIMAL},
      </if>
      <if test="isCheckout != null">
        is_checkout = #{isCheckout,jdbcType=TINYINT},
      </if>
      <if test="drugValidTime != null">
        drug_valid_time = #{drugValidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityLevelExplain != null">
        quality_level_explain = #{qualityLevelExplain,jdbcType=VARCHAR},
      </if>
      <if test="productPhoto != null">
        product_photo = #{productPhoto,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dm_id = #{dmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hospital_purchase.pojo.DrugMessage">
    update drug_message
    set drug_items_id = #{drugItemsId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      bidding_price = #{biddingPrice,jdbcType=DECIMAL},
      quality_level = #{qualityLevel,jdbcType=VARCHAR},
      found_time = #{foundTime,jdbcType=TIMESTAMP},
      approval_number = #{approvalNumber,jdbcType=VARCHAR},
      is_entrance = #{isEntrance,jdbcType=BIT},
      pack_unit = #{packUnit,jdbcType=INTEGER},
      retail_provenance = #{retailProvenance,jdbcType=VARCHAR},
      heckout_number = #{heckoutNumber,jdbcType=VARCHAR},
      product_explain = #{productExplain,jdbcType=VARCHAR},
      approval_time = #{approvalTime,jdbcType=TIMESTAMP},
      packaging_texture = #{packagingTexture,jdbcType=VARCHAR},
      newest_price = #{newestPrice,jdbcType=DECIMAL},
      is_checkout = #{isCheckout,jdbcType=TINYINT},
      drug_valid_time = #{drugValidTime,jdbcType=TIMESTAMP},
      quality_level_explain = #{qualityLevelExplain,jdbcType=VARCHAR},
      product_photo = #{productPhoto,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where dm_id = #{dmId,jdbcType=INTEGER}
  </update>
</mapper>