<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="../../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/plugins/angularjs/toaster.min.css">
    <script src="../../static/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../../static/plugins/angularjs/angular.min.js"></script>
    <link rel="stylesheet" href="../../static/plugins/angularjs/pagination.css">
    <script type="text/javascript" src="../../static/plugins/angularjs/pagination.js"></script>
    <script>
        //字典表查询
        $scope.supplierdiction=function () {
            $http({
                url:"/supplier/supplierdiction",
                method:"get",
                params:{},
            }).success(function (response) {
                $scope.dictarr1=[]
                for (var i = 0; i < response.length; i++) {
                    if (response[i].dictionariesId==4){
                        $scope.dictarr1.push(response[i])
                    }
                }
            })
        }
    </script>
</head>
<body ng-app="myApp" ng-controller="myContr" ng-init="supplierdiction()">
<div>
    <h5 class="alert alert-infoalert alert-info">结算药品查询</h5>
    <table class="table table-bordered table-striped">
        <tr>
            <td>采购单编号:<input ng-model="supp.SupplierName" class="form-control"></td>
            <td>采购单名称:<input ng-model="supp.ManageScope" class="form-control"></td>
        </tr>
        <tr>
            <td>采购状态:<select ng-model="supp.SupplierLinkman" class="form-control">
                <option value="0">是</option>
                <option value="1">否</option>
            </select>
            </td>
            <td>采购医院:<input ng-model="supp.enterpriseLinkman" class="form-control"></td>
        </tr>
        <tr>
            <td colspan="1" align="right"> <button type="button" class="btn1" ng-click="find()">查询</button></td>
        </tr>

    </table>

</div>

<div>
    <button type="button" class="btn1" data-toggle="modal" data-target="#addition" ng-click="addClick()">添加
    </button>
</div>
<div>
    <table id="dataList" class="table">
        <thead>
        <tr>
            <th>供货商名称</th>
            <th>经营范围</th>
            <th>联系人</th>
            <th>企业联系人</th>
            <th>是否有企业信用证</th>
            <th>联系地址</th>
            <th>详细</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        </thead>

        <tbody id="tbody">
        <tr ng-repeat="x in lists">
            <td>{{x.supplierName}}</td>
            <td>{{x.manageScope}}</td>
            <td>{{x.supplierLinkman}}</td>
            <td>{{x.enterpriseLinkman}}</td>
            <td>{{x.isLetterOfCredit>0 ? '否':'是'}}</td>
            <td>{{x.relationSite}}</td>
            <td><button class="btn btn-success" data-toggle="modal" data-target="#chage" ng-click="chage(x.spId)" >查看</button></td>
            <td><button class="btn btn-warning" data-toggle="modal" data-target="#more" ng-click="amend(x.spId)">修改</button></td>
            <td><button class="btn btn-danger" data-toggle="modal" ng-click="expurgate(x.spId)">删除</button></td>
        </tr>
        </tbody>
    </table>
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>

<div class="modal fade" id="addition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content" >
            <div class="modal-header">
                <button id="bt1" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">添加供货商信息</h3>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <table class="table table-bordered table-striped"  >
                        <tr>
                            <td>供货商名称:<input name="supplierName" class="form-control" ></td>
                            <td>地址:<input name="supplierSite" class="form-control"></td>
                            <td>联系人:<input name="supplierLinkman" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>许可证:<input name="licence" class="form-control"></td>
                            <td>许可证到期时间:<input type="date" name="licenceTime" class="form-control"></td>
                            <td>联系电话:<input name="supplierPhone" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>企业类型:<select name="enterpriseCategory" class="form-control">
                                <option ng-repeat="di in dictarr1" ng-value="di.dicId">{{di.dictionariesName}}</option>
                            </select></td>
                            <td>企业联系人:<input name="enterpriseLinkman" class="form-control"></td>
                            <td>企业电话:<input name="enterprisePhone" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>经营范围:<input name="manageScope" class="form-control"></td>
                            <td>注册地址:<input name="registeredAddress" class="form-control"></td>
                            <td>联系地址:<input name="relationSite" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>邮政编码:<input name="postalCode" class="form-control"></td>
                            <td>总资产(万元):<input name="totalAssets" class="form-control"></td>
                            <td>企业传真:<input name="sobeyFax" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>法人代表姓名:<input name="legalPersonName" class="form-control"></td>
                            <td>法人身份证:<input name="legalPersonNumber" class="form-control"></td>
                            <td>企业注册资金(万元):<input name="enterpriseRegisterCapital" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>上年度销售金额(万元):<input name="lastYearMoney" class="form-control"></td>
                            <td>电子邮箱:<input name="emailAddress" class="form-control"></td>
                            <td>网址:<input name="enterpriseUrl" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>企业代码证号:<input name="enterpriseCode" class="form-control"></td>
                            <td>企业代码有效期:<input type="date" name="enterpriseCodeTime" class="form-control"></td>
                            <td>营业执照:<input name="businessLicense" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>营业执照有效期:<input type="date" name="businessLicenseTime" class="form-control"></td>
                            <td>是否有企业信用证:<select name="isLetterOfCredit" class="form-control">
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select></td>
                            <td>信用证号:<input name="letterCreditNumber" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>信用证有效期:<input name="letterCreditTime" class="form-control"></td>
                            <td>固定资产(万元):<input name="fixedAssets" class="form-control"></td>
                            <td>公司简介(中文):<input name="companyProfile" class="form-control"></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#status" onclick="save()">保存</button>
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="headLeft" type="text" ></h4>
                <h4 id="headline" type="text" style="width: 100%;height: 45px;display: block;line-height: 45px;text-align: center;"></h4>
                <p id="whether" type="text" style="width: 100%;height: 45px;display: block;line-height: 45px;text-align: center;"></p>
                <div>
                    <p id="lose" ></p>
                </div>
                <div style="text-align:center">
                    <button data-dismiss="modal" aria-hidden="true">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="more" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content" >
            <div class="modal-header">
                <button id="bt" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabe">修改供货商信息</h3>
            </div>
            <div class="modal-body">
                <form id="inserInto">
                    <table class="table table-bordered table-striped"  >
                        <input ng-model="insersupp.spId" name="spId" type="text" style="visibility: hidden">
                        <tr>
                            <td>供货商名称:<input ng-model="insersupp.supplierName" name="supplierName" class="form-control" ></td>
                            <td>地址:<input ng-model="insersupp.supplierSite" name="supplierSite" class="form-control"></td>
                            <td>联系人:<input ng-model="insersupp.supplierLinkman" name="supplierLinkman" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>许可证:<input ng-model="insersupp.licence" name="licence" class="form-control"></td>
                            <td>许可证到期时间:<input type="date" ng-model="insersupp.licenceTime" name="licenceTime" class="form-control"></td>
                            <td>联系电话:<input ng-model="insersupp.supplierPhone" name="supplierPhone" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>企业类型:<select ng-model="insersupp.enterpriseCategory" name="enterpriseCategory" class="form-control">
                                <option ng-repeat="di in dictarr1" ng-selected="di.dicId==insersupp.enterpriseCategory" ng-value="di.dicId">{{di.dictionariesName}}</option>
                            </select></td>
                            <td>企业联系人:<input ng-model="insersupp.enterpriseLinkman" name="enterpriseLinkman" class="form-control"></td>
                            <td>企业电话:<input ng-model="insersupp.enterprisePhone" name="enterprisePhone" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>经营范围:<input ng-model="insersupp.manageScope" name="manageScope" class="form-control"></td>
                            <td>注册地址:<input ng-model="insersupp.registeredAddress" name="registeredAddress" class="form-control"></td>
                            <td>联系地址:<input ng-model="insersupp.relationSite" name="relationSite" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>邮政编码:<input ng-model="insersupp.postalCode" name="postalCode" class="form-control"></td>
                            <td>总资产(万元):<input ng-model="insersupp.totalAssets" name="totalAssets" class="form-control"></td>
                            <td>企业传真:<input ng-model="insersupp.sobeyFax" name="sobeyFax" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>法人代表姓名:<input ng-model="insersupp.legalPersonName" name="legalPersonName" class="form-control"></td>
                            <td>法人身份证:<input ng-model="insersupp.legalPersonNumber" name="legalPersonNumber" class="form-control"></td>
                            <td>企业注册资金(万元):<input ng-model="insersupp.enterpriseRegisterCapital" name="enterpriseRegisterCapital" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>上年度销售金额(万元):<input ng-model="insersupp.lastYearMoney" name="lastYearMoney" class="form-control"></td>
                            <td>电子邮箱:<input ng-model="insersupp.emailAddress" name="emailAddress" class="form-control"></td>
                            <td>网址:<input ng-model="insersupp.enterpriseUrl" name="enterpriseUrl" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>企业代码证号:<input ng-model="insersupp.enterpriseCode" name="enterpriseCode" class="form-control"></td>
                            <td>企业代码有效期:<input type="date" ng-model="insersupp.enterpriseCodeTime" name="enterpriseCodeTime" class="form-control"></td>
                            <td>营业执照:<input ng-model="insersupp.businessLicense" name="businessLicense" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>营业执照有效期:<input type="date" ng-model="insersupp.businessLicenseTime" name="businessLicenseTime" class="form-control"></td>
                            <td>是否有企业信用证:<select ng-model="insersupp.isLetterOfCredit" name="isLetterOfCredit" class="form-control">
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select></td>
                            <td>信用证号:<input ng-model="insersupp.letterCreditNumber" name="letterCreditNumber" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>信用证有效期:<input type="date" ng-model="insersupp.letterCreditTime" name="letterCreditTime" class="form-control"></td>
                            <td>固定资产(万元):<input ng-model="insersupp.fixedAssets" name="fixedAssets" class="form-control"></td>
                            <td>公司简介(中文):<input ng-model="insersupp.companyProfile" name="companyProfile" class="form-control"></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" ng-click="ngsave()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="chage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button id="btbton" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3>查看页面</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped"  >
                    <tr>
                        <td>供货商名称:<input ng-model="chagesupp.supplierName" name="supplierName" class="form-control" ></td>
                        <td>地址:<input ng-model="chagesupp.supplierSite" name="supplierSite" class="form-control"></td>
                        <td>联系人:<input ng-model="chagesupp.supplierLinkman" name="supplierLinkman" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>许可证:<input ng-model="chagesupp.licence" name="licence" class="form-control"></td>
                        <td>许可证到期时间:<input ng-model="chagesupp.licenceTime" name="licenceTime" class="form-control"></td>
                        <td>联系电话:<input ng-model="chagesupp.supplierPhone" name="supplierPhone" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>企业类型:<select ng-model="chagesupp.enterpriseCategory" name="enterpriseCategory" class="form-control">
                            <option ng-repeat="di in dictarr1" ng-selected="di.dicId==chagesupp.enterpriseCategory" ng-value="di.dicId">{{di.dictionariesName}}</option>
                        </select></td>
                        <td>企业联系人:<input ng-model="chagesupp.enterpriseLinkman" name="enterpriseLinkman" class="form-control"></td>
                        <td>企业电话:<input ng-model="chagesupp.enterprisePhone" name="enterprisePhone" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>经营范围:<input ng-model="chagesupp.manageScope" name="manageScope" class="form-control"></td>
                        <td>注册地址:<input ng-model="chagesupp.registeredAddress" name="registeredAddress" class="form-control"></td>
                        <td>联系地址:<input ng-model="chagesupp.relationSite" name="relationSite" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>邮政编码:<input ng-model="chagesupp.postalCode" name="postalCode" class="form-control"></td>
                        <td>总资产(万元):<input ng-model="chagesupp.totalAssets" name="totalAssets" class="form-control"></td>
                        <td>企业传真:<input ng-model="chagesupp.sobeyFax" name="sobeyFax" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>法人代表姓名:<input ng-model="chagesupp.legalPersonName" name="legalPersonName" class="form-control"></td>
                        <td>法人身份证:<input ng-model="chagesupp.legalPersonNumber" name="legalPersonNumber" class="form-control"></td>
                        <td>企业注册资金(万元):<input ng-model="chagesupp.enterpriseRegisterCapital" name="enterpriseRegisterCapital" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>上年度销售金额(万元):<input ng-model="chagesupp.lastYearMoney" name="lastYearMoney" class="form-control"></td>
                        <td>电子邮箱:<input ng-model="chagesupp.emailAddress" name="emailAddress" class="form-control"></td>
                        <td>网址:<input ng-model="chagesupp.enterpriseUrl" name="enterpriseUrl" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>企业代码证号:<input ng-model="chagesupp.enterpriseCode" name="enterpriseCode" class="form-control"></td>
                        <td>企业代码有效期:<input ng-model="chagesupp.enterpriseCodeTime" name="enterpriseCodeTime" class="form-control"></td>
                        <td>营业执照:<input ng-model="chagesupp.businessLicense" name="businessLicense" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>营业执照有效期:<input ng-model="chagesupp.businessLicenseTime" name="businessLicenseTime" class="form-control"></td>
                        <td>是否有企业信用证:<select ng-model="chagesupp.isLetterOfCredit" name="isLetterOfCredit" class="form-control">
                            <option value="0">是</option>
                            <option value="1">否</option>
                        </select></td>
                        <td>信用证号:<input ng-model="chagesupp.letterCreditNumber" name="letterCreditNumber" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>信用证有效期:<input ng-model="chagesupp.letterCreditTime" name="letterCreditTime" class="form-control"></td>
                        <td>固定资产(万元):<input ng-model="chagesupp.fixedAssets" name="fixedAssets" class="form-control"></td>
                        <td>公司简介(中文):<input ng-model="chagesupp.companyProfile" name="companyProfile" class="form-control"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>