<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital_purchase.dao.LimitFunctionMapper">
  <resultMap id="BaseResultMap" type="com.hospital_purchase.pojo.LimitFunction">
    <id column="lf_id" jdbcType="INTEGER" property="lfId" />
    <result column="limit_name" jdbcType="VARCHAR" property="limitName" />
    <result column="action_name" jdbcType="VARCHAR" property="actionName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="modification_time" jdbcType="TIMESTAMP" property="modificationTime" />
  </resultMap>
  <resultMap id="BaseMap" type="com.hospital_purchase.vo.LimitFunctionVO">
    <id column="lf_id" jdbcType="INTEGER" property="lfId" />
    <result column="limit_name" jdbcType="VARCHAR" property="limitName" />
    <result column="action_name" jdbcType="VARCHAR" property="actionName" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="modification_time" jdbcType="TIMESTAMP" property="modificationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    lf_id, limit_name, action_name, parent_id, creation_time, modification_time
  </sql>
  <select id="selectAllLimitFunction" resultMap="BaseMap">
    select
      lf.lf_id, lf.limit_name , lf.action_name, lim.limit_name parent_name, lf.creation_time, lf.modification_time
    from limit_function lf
	left join limit_function lim on lim.lf_id=lf.parent_id
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from limit_function
    where lf_id = #{lfId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from limit_function
    where lf_id = #{lfId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hospital_purchase.pojo.LimitFunction">
    insert into limit_function (lf_id, limit_name, action_name, 
      parent_id, creation_time, modification_time
      )
    values (#{lfId,jdbcType=INTEGER}, #{limitName,jdbcType=VARCHAR}, #{actionName,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP}, #{modificationTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hospital_purchase.pojo.LimitFunction">
    insert into limit_function
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lfId != null">
        lf_id,
      </if>
      <if test="limitName != null">
        limit_name,
      </if>
      <if test="actionName != null">
        action_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="creationTime != null">
        creation_time,
      </if>
      <if test="modificationTime != null">
        modification_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lfId != null">
        #{lfId,jdbcType=INTEGER},
      </if>
      <if test="limitName != null">
        #{limitName,jdbcType=VARCHAR},
      </if>
      <if test="actionName != null">
        #{actionName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationTime != null">
        #{modificationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hospital_purchase.pojo.LimitFunction">
    update limit_function
    <set>
      <if test="limitName != null">
        limit_name = #{limitName,jdbcType=VARCHAR},
      </if>
      <if test="actionName != null">
        action_name = #{actionName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationTime != null">
        modification_time = #{modificationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where lf_id = #{lfId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hospital_purchase.pojo.LimitFunction">
    update limit_function
    set limit_name = #{limitName,jdbcType=VARCHAR},
      action_name = #{actionName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      modification_time = #{modificationTime,jdbcType=TIMESTAMP}
    where lf_id = #{lfId,jdbcType=INTEGER}
  </update>
  <select id="selectParentLimit" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from limit_function
    where parent_id is null
  </select>

</mapper>