<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital_purchase.dao.QuitOrdersMapper">
  <resultMap id="BaseResultMap" type="com.hospital_purchase.pojo.QuitOrders">
    <id column="sr_id" jdbcType="INTEGER" property="srId" />
    <result column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="quit_time" jdbcType="TIMESTAMP" property="quitTime" />
    <result column="quit_number" jdbcType="VARCHAR" property="quitNumber" />
    <result column="quit_state" jdbcType="INTEGER" property="quitState" />
    <result column="quit_name" jdbcType="VARCHAR" property="quitName" />
    <result column="fund_time" jdbcType="TIMESTAMP" property="fundTime" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="linkman_phone" jdbcType="VARCHAR" property="linkmanPhone" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_id" jdbcType="INTEGER" property="delId" />
  </resultMap>
  <sql id="Base_Column_List">
    sr_id, hospital_id, quit_time, quit_number, quit_state, quit_name, fund_time, submit_time, 
    linkman, linkman_phone, remarks, del_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from quit_orders
    where sr_id = #{srId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from quit_orders
    where sr_id = #{srId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hospital_purchase.pojo.QuitOrders">
    insert into quit_orders (sr_id, hospital_id, quit_time, 
      quit_number, quit_state, quit_name, 
      fund_time, submit_time, linkman, 
      linkman_phone, remarks, del_id
      )
    values (#{srId,jdbcType=INTEGER}, #{hospitalId,jdbcType=INTEGER}, #{quitTime,jdbcType=TIMESTAMP}, 
      #{quitNumber,jdbcType=VARCHAR}, #{quitState,jdbcType=INTEGER}, #{quitName,jdbcType=VARCHAR}, 
      #{fundTime,jdbcType=TIMESTAMP}, #{submitTime,jdbcType=TIMESTAMP}, #{linkman,jdbcType=VARCHAR}, 
      #{linkmanPhone,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{delId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hospital_purchase.pojo.QuitOrders">
    insert into quit_orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="srId != null">
        sr_id,
      </if>
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="quitTime != null">
        quit_time,
      </if>
      <if test="quitNumber != null">
        quit_number,
      </if>
      <if test="quitState != null">
        quit_state,
      </if>
      <if test="quitName != null">
        quit_name,
      </if>
      <if test="fundTime != null">
        fund_time,
      </if>
      <if test="submitTime != null">
        submit_time,
      </if>
      <if test="linkman != null">
        linkman,
      </if>
      <if test="linkmanPhone != null">
        linkman_phone,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delId != null">
        del_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="srId != null">
        #{srId,jdbcType=INTEGER},
      </if>
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="quitTime != null">
        #{quitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quitNumber != null">
        #{quitNumber,jdbcType=VARCHAR},
      </if>
      <if test="quitState != null">
        #{quitState,jdbcType=INTEGER},
      </if>
      <if test="quitName != null">
        #{quitName,jdbcType=VARCHAR},
      </if>
      <if test="fundTime != null">
        #{fundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="linkman != null">
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="linkmanPhone != null">
        #{linkmanPhone,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delId != null">
        #{delId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hospital_purchase.pojo.QuitOrders">
    update quit_orders
    <set>
      <if test="hospitalId != null">
        hospital_id = #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="quitTime != null">
        quit_time = #{quitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quitNumber != null">
        quit_number = #{quitNumber,jdbcType=VARCHAR},
      </if>
      <if test="quitState != null">
        quit_state = #{quitState,jdbcType=INTEGER},
      </if>
      <if test="quitName != null">
        quit_name = #{quitName,jdbcType=VARCHAR},
      </if>
      <if test="fundTime != null">
        fund_time = #{fundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null">
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="linkman != null">
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="linkmanPhone != null">
        linkman_phone = #{linkmanPhone,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delId != null">
        del_id = #{delId,jdbcType=INTEGER},
      </if>
    </set>
    where sr_id = #{srId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hospital_purchase.pojo.QuitOrders">
    update quit_orders
    set hospital_id = #{hospitalId,jdbcType=INTEGER},
      quit_time = #{quitTime,jdbcType=TIMESTAMP},
      quit_number = #{quitNumber,jdbcType=VARCHAR},
      quit_state = #{quitState,jdbcType=INTEGER},
      quit_name = #{quitName,jdbcType=VARCHAR},
      fund_time = #{fundTime,jdbcType=TIMESTAMP},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      linkman = #{linkman,jdbcType=VARCHAR},
      linkman_phone = #{linkmanPhone,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_id = #{delId,jdbcType=INTEGER}
    where sr_id = #{srId,jdbcType=INTEGER}
  </update>
</mapper>