<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital_purchase.dao.SupplierAreaMapper">
  <resultMap id="BaseResultMap" type="com.hospital_purchase.pojo.SupplierArea">
    <id column="sa_id" jdbcType="INTEGER" property="saId" />
    <result column=" supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
  </resultMap>
  <sql id="Base_Column_List">
    sa_id, " supplier_id", area_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from supplier_area
    where sa_id = #{saId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from supplier_area
    where sa_id = #{saId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hospital_purchase.pojo.SupplierArea">
    insert into supplier_area (sa_id, " supplier_id", area_id
      )
    values (#{saId,jdbcType=INTEGER}, #{supplierId,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hospital_purchase.pojo.SupplierArea">
    insert into supplier_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="saId != null">
        sa_id,
      </if>
      <if test="supplierId != null">
        " supplier_id",
      </if>
      <if test="areaId != null">
        area_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="saId != null">
        #{saId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hospital_purchase.pojo.SupplierArea">
    update supplier_area
    <set>
      <if test="supplierId != null">
        " supplier_id" = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
    </set>
    where sa_id = #{saId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hospital_purchase.pojo.SupplierArea">
    update supplier_area
    set " supplier_id" = #{supplierId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER}
    where sa_id = #{saId,jdbcType=INTEGER}
  </update>
</mapper>